<app-spinner  [progress]="progress" [message]="message"  ></app-spinner>
<section id="home" style="background-color: black;">

<div id="unity-container" class="unity-desktop " style="width: 100%;height:100%">
    <canvas id="unity-canvas" class="spacetop5"></canvas>
    <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div>
    <div id="unity-mobile-warning">
      WebGL builds are not supported on mobile devices.
    </div>
  </div>  
</section>

<app-chat *ngIf="this.unityService.multiplayerMode && !mobile"></app-chat>
<app-event *ngIf="this.unityService.multiplayerMode &&!mobile"></app-event>

<div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-hidden="true">
<div class="modal-dialog  modal-dialog-centered">
  <div class="modal-content border-0 rounded shadow">
    <div class="modal-header border-0">
      <a [hidden]="true" id="OpenModalInfo"   class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">Create space</a>
      <button id="closeModal4" [hidden]="true" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    <form #urlForm="ngForm" (ngSubmit)="urlForm.form.valid && onSubmit(urlForm)">

    <div class="modal-body px-5">
      <div class="form-group">
        <label>Video URL</label>
        <input type="text" name="url" class="form-control" placeholder="Enter video url..." [(ngModel)]="videourl" #url="ngModel"
            [ngClass]="{ 'is-invalid': urlForm.submitted && url.invalid }" required>
        <div class="invalid-feedback" *ngIf="urlForm.submitted && url.invalid">
            <p *ngIf="url.errors?.['required']">URL is required</p>
        </div>
    </div>

    </div>
    <div class="modal-footer">
      <button type="submit" (click)="this.unityService.InputCapture('true')" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      <div class="form-group">      
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
    </div>
    </div> 
  </form>
  </div>
</div></div>

<div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-hidden="true">
<div class="modal-dialog  modal-dialog-centered">
  <div class="modal-content border-0 rounded shadow">
    <div class="modal-header border-0">
      <a [hidden]="true" id="OpenModalInfo2"   class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">Create space</a>
      <button id="closeModal6" [hidden]="true" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>

    <div class="modal-body px-5">
      <div class="h5" style="text-align-last: center;">{{this.unityService.message=="poap"? "Click claim to claim your POAP. If you're not interested in claiming it now, copy the link to claim it later.":this.unityService.message}}</div>
      <div class=" d-flex justify-content-center" style="padding: 20px;" *ngIf="this.unityService.message=='poap'">
      <button type="button" class="btn btn-primary btn-sm raised" style="margin-right: 20px" (click)="getPOAP()">Claim now</button> 
      <button type="button" class="btn btn-primary btn-sm raised" (click)="copyText()">Copy link</button> </div>
      <div class=" d-flex justify-content-center" style="padding: 20px;" *ngIf="this.unityService.message!='poap'">
        <button *ngIf="this.unityService.link!=''" style="margin-right: 20px" type="button" class="btn btn-primary btn-sm raised" (click)="copyText()">Copy Your link</button>
        <button  type="button" class="btn btn-primary btn-sm raised" data-bs-dismiss="modal" (click)="this.unityService.PoapGeted()">Close</button>
      </div>
      
    </div>

  </div>
</div></div>