<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm p-0 osahan-nav border-bottom border-2"
	*ngIf="ShowNavbar == true">
	<div class="container">
		<a class="navbar-brand" routerLink="/homepage">
			<img src="/assets/img/P2dIsgnA.png" alt="#" class="img-fluid">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup16"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup16">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 5%;">
				<li class="nav-item">
					<a class="Lato nav-link" routerLinkActive="active" aria-current="page"
						routerLink="/homepage" >Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" routerLinkActive="active" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Explore
					</a>
					<ul class="dropdown-menu border-0 shadow-sm">
						<li><a class="dropdown-item" (click)="NotAdded()">All spaces</a></li>
						<li><a class="dropdown-item"  routerLink="decl/home">store </a></li>
						<li><a class="dropdown-item"  routerLink="/market">Listings</a></li>
						<li><a class="dropdown-item" routerLink="/templates" >Create space</a></li>
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" outerLinkActive="active"
						data-bs-toggle="dropdown" aria-expanded="false">
						Community
					</a>
					<ul class="dropdown-menu border-0 shadow-sm">
						<li><a class="dropdown-item" (click)="NotAdded()">Blog</a></li>
						<li><a class="dropdown-item" (click)="NotAdded()">Help Center</a></li>
						<li><a class="dropdown-item" (click)="NotAdded()">Contact</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" outerLinkActive="active" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Other Pages
					</a>
					<ul class="dropdown-menu border-0 shadow-sm">
						<li><a class="dropdown-item" (click)="NotAdded()">All spaces </a></li>
						<li><a class="dropdown-item"  routerLink="/market">Marketplace</a></li>
						<li><a class="dropdown-item"  routerLink="/templates">Create space</a></li>
						<li><a class="dropdown-item" (click)="NotAdded()">Activity</a></li>

					</ul>
				</li>

			</ul>
			<div class="navbar-nav ms-auto gap-3">
				<div *ngIf="loginUser" class="nav-item dropdown">
					<a class="nav-link p-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{user.profile_image? user.profile_image:'/assets/img/photo2.png'}}" alt="#"
							class="img-fluid border-radius-five top-icon">
					</a>
					<div class="dropdown-menu dropdown-menu-end border-0 shadow-sm mt-3">
						<div>
							<a class="dropdown-item">
								<div class="fw-bold" *ngIf="addressUserView && addressUser!=undefined">
									{{addressUser.substr(0,7)+" ... "+addressUser.substr(36,41)}}</div>
								<div class="text-muted small">Balance:&nbsp;<span class="text-danger">{{balance}} <img
											alt="MATIC on Polygon" src="../../../assets/img/polygon.svg" width="10PX"
											style="MARGIN-BOTTOM: 3PX;"></span>
								</div>
							</a>
						</div>
						<div><a class="dropdown-item" routerLink="/profile/pills-wearables-tab"><i
									class="bi bi-person-lines-fill me-2"></i>Profile</a></div>
						<div><a class="dropdown-item" routerLink="/profile/pills-rooms-tab"><i
									class="bi bi-save me-2"></i>My spaces</a></div>
						<div><a class="dropdown-item" routerLink="/profile/pills-editprofile-tab"><i
									class="bi bi-pen me-2"></i> Edit Profile</a>
						</div>
						<div><a class="dropdown-item text-danger" (click)="logout()"><i
									class="bi bi-box-arrow-right me-2"></i> Logout</a></div>
					</div>
				</div>
				
				<li class="nav-item dropdown">
					<a routerLinkActive="active" data-bs-target="#staticBackdrop"
						class="nav-link dropdown-toggle btn btn-light btn-sm border border-dark" role="button"
						outerLinkActive="active" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-shop fa-1x"></i>&ensp; Marketplace
					</a>
					<ul class="dropdown-menu border-0 shadow-sm">
						<li><a routerLink="market" class="dropdown-item ">
								<h4 class="card-title" style="margin: 0 0 0px !important;">Listings</h4>
								<h6 class="card-subtitle mb-2 text-muted">Items being resold</h6>
							</a></li>
						<li><a routerLink="decl/home" class="dropdown-item">
							<h4 class="card-title" style="margin: 0 0 0px !important;">Store</h4>
								<h6 class="card-subtitle mb-2 text-muted">Items available for minting</h6>
							</a></li>
					</ul>
				</li>
				<a *ngIf="!this.loginUser" class="btn btn-dark btn-sm " data-bs-toggle="modal"
					data-bs-target="#staticBackdrop">Connect wallet</a>
			</div>
		</div>
	</div>
</nav>


<router-outlet></router-outlet>


<!-- footer -->
<footer class="footer bg-white py-5" *ngIf="ShowNavbar == true">
	<div class="container py-4">
		<div class="row">
			<div class="col-md-12 col-lg-3 col-12">
				<img src="/assets/img/P2dIsgnA.png" alt="#" class="img-fluid">
				<div class="text-muted mt-4 Lato">
					<p class="mb-4 ">Omnispaces is a virtual Metaverse where users can build their own custom
						interactive spaces and invite others to join.
					</p>
					<div class="d-flex gap-3 fs-6">
						<a class="text-decoration-none link-dark"><i class="bi bi-twitter"></i></a>
						<a class="text-decoration-none link-dark"><i class="bi bi-facebook"></i></a>
						<a class="text-decoration-none link-dark"><i class="bi bi-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 col-4 Lato">
				<h6 class="fw-bold text-body mb-3">PAGES</h6>
				<ul class="nav flex-column">
					<li><a class="nav-link" (click)="NotAdded()">Create</a></li>
					<li><a class="nav-link" (click)="NotAdded()">Create Multiple</a></li>
					<li><a class="nav-link" (click)="NotAdded()">Create Single</a></li>
					<li><a class="nav-link" (click)="NotAdded()">Connect wallet</a></li>
				</ul>
			</div>
			<div class="col-md-6 col-lg-2 col-4 Lato">
				<h6 class="fw-bold text-body mb-3">COMMUNITY</h6>
				<ul class="nav flex-column">
					<li><a class="nav-link" (click)="NotAdded()">Blog</a></li>
					<li><a class="nav-link" (click)="NotAdded()">Help Center</a></li>
					<li><a class="nav-link" (click)="NotAdded()">Contact</a></li>
				</ul>
			</div>

			<div class="col-md-12 col-lg-4 col-12 Lato">
				<h6 class="fw-bold text-body mb-2">SUBSCRIBE</h6>
				<div class="mb-4 text-muted">Subscribe for the latest news, drops & collectibles</div>

				<form class="row row-cols-lg-auto g-2 align-items-center">
					<div class="col-12">
						<input type="email" class="form-control" placeholder="Enter your email address">
					</div>
					<div class="col-12">
						<button type="submit" class="btn btn-primary m-0" (click)="NotAdded()">Subscribe</button>
					</div>
					<div class="form-text mt-2">By subscribing you agree to our
						<a class="text-decoration-underline text-reset">Privacy Policy</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</footer>
<div class="footer-end  py-4" *ngIf="ShowNavbar == true">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-12 text-center">
				<span class="small Lato">© Copyright © 2022. All rights reserved by omnispaces</span>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex=""
	style="z-index:2147483011;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content border-0 rounded shadow">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<section class=" bg-primary">
				<div class="container py-4 px-5 text-center">
					<div class="row gx-5 justify-content-center">
						<div class="col-lg-12">
							<h1 class="text-white display-5 mb-2 fw-bold">Connect your wallet</h1>
							<p class="lead text-white-50 m-0">Sign in with one of available wallet providers<br> or
								create a new wallet.
							</p>
						</div>
					</div>
				</div>
				<div class="svg-border-rounded text-light">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
						fill="#fff">
						<path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
					</svg>
				</div>
			</section>

			<div>
				<h1 class="d-none">W3</h1>
				<div class="container py-4">
					<div class="row justify-content-center">
						<div class="col-12 col-lg-12">
							<ul class="nav help-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active shadow-sm" id="pills-profile-tab"
										data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
										aria-controls="pills-profile" aria-selected="true">
										<span class="text-center px-0 px-md-3 d-flex align-item-center flex-column">
											<span class="mb-2"><i class="bi bi-cpu-fill fs-3"></i></span>
											<span class="h6 fw-bold">Metamask</span>
										</span>
									</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link  shadow-sm" id="pills-home-tab" data-bs-toggle="pill"
										data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
										aria-selected="false">
										<span class="text-center px-0 px-md-3 d-flex align-item-center flex-column">
											<span class="mb-2"><i class="bi bi-badge-tm-fill fs-3"></i></span>
											<span class="h6 fw-bold">Torus</span>
										</span>
									</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link shadow-sm" id="pills-contact-tab" data-bs-toggle="pill"
										data-bs-target="#pills-contact" type="button" role="tab"
										aria-controls="pills-contact" aria-selected="false">
										<span class="text-center px-0 px-md-3 d-flex align-item-center flex-column">
											<span class="mb-2"><i class="bi bi-currency-exchange fs-3"></i></span>
											<span class="h6 fw-bold">Coinbase</span>
										</span>
									</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link shadow-sm" id="pills-selling-tab" data-bs-toggle="pill"
										data-bs-target="#pills-selling" type="button" role="tab"
										aria-controls="pills-selling" aria-selected="false">
										<span class="text-center px-0 px-md-3 d-flex align-item-center flex-column">
											<span class="mb-2"><i class="bi bi-wallet-fill fs-3"></i></span>
											<span class="h6 fw-bold">Mobile wallet</span>
										</span>
									</button>
								</li>
							</ul>
							<div class="d-flex align-items-center justify-content-center mt-4 pt-4">
								<div class="text-muted small text-end">We do not own your private keys and cannot access
									your<br> funds without your confirmation.
								</div>
								<div class="ms-3">
									<button class="fw-bold btn btn-sm btn-dark" data-bs-dismiss="modal"
										aria-label="Close" (click)="connect()">CONNECT</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>