.floating-btn {
  color: white;
  background: #5d77d7;
  border-color: #5d77d7;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 1.7rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 3.2rem 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease;
}

.floating-btn:hover {
  background: #768cda;
}

.floating-btn:hover .icon {
  opacity: 1.5;
}

.floating-btn .fa-discord {
  padding-top: 0.4rem;
}

//nav style
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  border-color: #dadada;
  background-color: rgb(255, 255, 255);
}

.osahan-nav .navbar-brand img {
  height: 40px;
  /*margin-right: 4rem !important;*/
}

.osahan-nav .navbar-nav.me-auto .nav-item .nav-link {
  font-size: 13px;
  text-transform: uppercase;
  padding: 24px 18px;
  letter-spacing: .4px;
  font-weight: 600
}

footer.footer .nav-link {
  padding: 6px 0;
  color: #798187;
  font-size: 13px
}

footer.footer .nav-link:hover,
footer.footer .nav-link:focus {
  color: #0e6dfd
}

@media(max-width:992px) {
  .navbar-toggler {
    padding: 2px 5px;
    background: #212529
  }

  .osahan-nav .navbar-nav.me-auto .nav-item .nav-link {
    text-align: center
  }

  .steps-item {
    display: block !important;
    text-align: center;
    padding: 0 !important;
    background: 0 0 !important;
    box-shadow: none !important
  }

  .steps-item-icon {
    margin: auto;
    background: #212529 !important
  }

  .steps-item .fw-bold.fs-6.mb-1 {
    margin: 12px 0 0;
    font-size: 13px !important;
    color: #fff;
    font-weight: 400 !important
  }

  footer.footer.bg-white.py-5 h6.fw-bold {
    margin-top: 39px !important
  }

  .filter-nav-page .row.justify-content-between.align-items-center {
    display: block;
    width: 100%;
    margin: 0
  }

  .filter-nav-page .row.justify-content-between.align-items-center .col-2 {
    width: 100%;
    padding: 0
  }

  .filter-nav-page .row.justify-content-between.align-items-center .col-6 {
    width: 100%;
    padding: 9px 0 !important;
    border-top: 1px solid #e2e4e6;
    border-bottom: 1px solid #e2e4e6
  }

  .osahan-nav .navbar-nav.ms-auto.gap-3 li.nav-item.dropdown {
    display: none
  }

  .help-tabs button {
    padding: 24px;
    min-width: 168px
  }

  .collection-btn .btn {
    padding: 6px 0 12px 15px;
    min-width: auto
  }

  .author-sidebar .card-body.text-center img {
    height: 160px;
    margin: 0
  }
}
//footer
footer.footer h6.fw-bold {
  font-size: 12px;
  letter-spacing: 1px
}

footer.footer img.img-fluid {
  height: 45px
}
.footer-mid img.img-fluid {
  height: 35px
}