<section class="py-5">
    <div class="container py-4">
        <div class="row">
            
            <div class="col-lg-6 col-12 pe-lg-5">
                <div class="typewriter">
                    <h1>Tap on the image to see the 3D module</h1>
                  </div>
                  
                <div class="sidebar-fix" data-bs-toggle="modal" data-bs-target="#object">
                    <div class="content">
                        <div class="content-overlay"></div> <img  src="{{url? asset?.rawMetadata?.image.replace('ipfs://', 'https://nftstorage.link/ipfs/'): 'https://i.imgur.com/W9XBuNV.gif'}}" alt="#" class="content-image img-fluid w-100 rounded shadow">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">VIEW THE 3D MODULE</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="mb-4 mt-2">
                    <h1 class="fw-bold text-dark">{{asset?.title}}</h1>

                    <div class="mb-5 mt-4">
                        <p class="fs-6">{{asset?.description}}</p>
                    </div>
                    <div class="d-flex justify-content-between bg-white rounded shadow-sm p-4 align-items-center">
                        <div>
                            <h6 class="fw-bold mb-2 text-uppercase small">Current listing</h6>
                            <div class="d-flex align-items-center gap-3">
                                <h2 class="h1 fw-bold text-primary mb-0">{{hasOrder? order[0].price:"No offer currently"}} &nbsp;<img *ngIf="hasOrder" alt="MATIC on Polygon" src="../../../assets/img/polygon.svg" width="20PX" style="MARGIN-BOTTOM: 3PX;"></h2>
                                <h6 class="text-muted m-0 d-none d-sm-block">{{hasOrder? (order[0].price*0.75).toFixed(3)+"$":""}}</h6>
                            </div>
                        </div>
                        <div>
                            <a *ngIf="owner==this.address && !hasOrder" (click)="listingWearable()"  class="btn btn-danger btn-lg rounded-lg">listing</a>
                            <a *ngIf="owner!=this.address && hasOrder" (click)=" BuyWearable()" class="btn btn-danger btn-lg rounded-lg">buy</a>
                        </div>
                    </div>
                </div>
                <div class="pt-1">

                    <div class="overflow-hidden bg-white rounded shadow-sm mb-4">
                        <ul class="nav auther-tabs mb-0 gap-3 border-bottom px-4 py-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">listings</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">History</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="artwork">

                                    <div class="border-bottom p-3">
                                        <div class="d-flex justify-content-between" *ngIf="hasOrder">
                                            <div class="d-flex align-items-center gap-3">
                                                <div><img  src="{{actuelUser.profile_image}}" alt="#"
                                                        class="img-fluid rounded-circle ch-50 border shadow-sm"></div>
                                                <div>
                                                    <h4 class="fw-bold text-dark mb-1 h1">Bid placed by <span class="text-muted fw-normal small">{{actuelUser.username}}</span></h4>
                                                    <div class="text-muted fw-bold">{{this.owner.substring(0, 8)}} .. {{this.owner.substring(33, 42)}}</div>
                                                </div>
                                            </div>
                                            <div>
                                                <h6 class="mb-1">$ {{hasOrder? (0.75* order[0]?.price).toFixed(3):"0"}}</h6>
                                                <div class="text-muted small">{{hasOrder?order[0]?.price:"0"}}&nbsp;&nbsp;<img *ngIf="hasOrder" alt="MATIC on Polygon" src="https://openseauserdata.com/files/23830242e4f33a4bc50a60c83f550c29.svg" width="17PX" style="MARGIN-BOTTOM: 3PX;"></div>
                                            </div>
                                            <td  *ngIf="owner!=this.address && hasOrder"><button  type="button" class="btn btn-primary btn-sm"
                                                (click)=" BuyWearable()">Buy</button></td>
                                            <td *ngIf="owner==this.address"><button type="button" class="btn btn-danger btn-sm"
                                                (click)="CancelListing()">cancel</button></td>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="artwork">
                                    <div class=" p-2" >
                                            <table class="table table-borderless">
                                                <thead  class="table-light">
                                                  <tr>
                                                    <th scope="col" id="demo">From</th>
                                                    <th scope="col">To</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">When</th>
                                                    <th scope="col">Price</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr *ngFor="let activity of activitys" >
                                                    <th scope="row">{{activity.from.toString().substring(0, 4)}} ... {{activity.from.toString().substring(39, 42)}}</th>
                                                    <td>{{activity.to.toString().substring(0, 4)}} ... {{activity.to.toString().substring(39, 42)}}</td>
                                                    <td>{{activity.event}}</td>
                                                    <td>{{activity.date}}</td>
                                                    <td>{{activity.price}}&nbsp;&nbsp;<img *ngIf="hasOrder" alt="MATIC on Polygon" src="https://openseauserdata.com/files/23830242e4f33a4bc50a60c83f550c29.svg" width="15PX" style="MARGIN-BOTTOM: 3PX;"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                          
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3">
                        <h6 class="fw-bold mb-3 text-uppercase fs-6">Edition 1 of 1</h6>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="overflow-hidden bg-white border-radius-five shadow-sm mb-2">
                                    <div class="p-3 border-bottom">
                                        <p class="m-0 text-uppercase text-muted">Creator</p>
                                    </div>
                                    <div class="p-3">
                                        <a  class="text-decoration-none link-dark">
                                            <div class="d-flex align-items-center gap-3">
                                                <div><img  src="assets/img/photo2.png" alt="#"
                                                        class="img-fluid rounded-circle ch-50 border shadow-sm p-1">
                                                </div>
                                                <div>
                                                    <h5 class="fw-bold m-0" *ngIf="activitys.length > 0">{{activitys[0].to.toString().substring(0, 10)}} ... {{activitys[0].to.toString().substring(32, 42)}}</h5>
                                                </div>
                                                <i class="bi bi-chevron-right ms-auto"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="overflow-hidden bg-white border-radius-five shadow-sm mb-2">
                                    <div class="p-3 border-bottom">
                                        <p class="m-0 text-uppercase text-muted">Collection</p>
                                    </div>
                                    <div class="p-3">
                                        <a class="text-decoration-none link-dark" href="https://polygonscan.com/address/{{asset?.contract.address}}">
                                            <div class="d-flex align-items-center gap-3">
                                                <div><img  src="/assets/img/decentraland.svg" alt="#"
                                                        class="img-fluid rounded-circle ch-50 border shadow-sm p-1">
                                                </div>
                                                <div>
                                                    <h4 class="fw-bold m-0">Decentraland</h4>
                                                </div>
                                                <i class="bi bi-chevron-right ms-auto"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="object" c class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                            <object width="100%" height="550PX"  [data]="AanimationURL()"  >
                            </object>
            </div>
          </div>
  </div>
</div>