<div class="bee-spinner" *ngIf="showSpinner">
  <mat-progress-bar value={{progress}}>
  </mat-progress-bar>
  <!--  
    <p-progressBar [style]="{'height': '0.5rem','border-radius':'0px','font-size': '0.4rem'}"  [value]="progress"></p-progressBar>
    -->
  <section id="home" class="container py-4 spacetop199">
    <div class="containersp">
      <div class="row">
        <div class="card col5 col6-md col12-s ta-center-s">
          <h1 class="size5 bold title spacebottom1">
            {{title}}
          </h1>
          <p class="fs-4 text-white-50 Lato" style="margin-bottom: 30PX;">
            {{Description}}
          </p>
          <mat-slide-toggle *ngIf="Showtoggle && unityService.mode=='1'" [(ngModel)]="isCheckedMode"><span
              style="font-size: 2vmin;color:#fff ;font-weight: bold;">Enter in Multiplayer</span>
          </mat-slide-toggle>
          <form [formGroup]="uploadForm">
            <mat-form-field class="example-full-username" *ngIf="Showtoggle &&  !showSelect" appearance="outline"
              style="margin-left: 26.5vmin">
              <mat-label style="color: #fff;font-weight: bold;font-size: 2.3vmin;">Avatar from</mat-label>
              <mat-select (selectionChange)="validator($event)" [(value)]="selected">
                <mat-option value="Decentraland">Decentraland Metaverse</mat-option>
                <mat-option value="Ape">Ape</mat-option>
                <mat-option value="Ready Player Me">Ready Player Me</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-username" appearance="outline"
              *ngIf="Showtoggle && (selected=='Ape' || selected=='Ready Player Me') && !showSelect">
              <mat-label class="label">Enter username</mat-label>
              <input matInput formControlName="username" [(ngModel)]="username" #message minlength="1"
                placeholder="Username">
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              <mat-hint *ngIf="uploadForm.controls['username'].errors && uploadForm.controls['username'].touched">Please
                enter username</mat-hint>
              <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
                <mat-icon style="color:brown ;">close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline"
              *ngIf="Showtoggle && selected=='Ready Player Me' && !showSelect">
              <mat-label class="label">Enter avatar url</mat-label>
              <input matInput formControlName="avatarurl" [(ngModel)]="avatarUrl" #message minlength="1"
                placeholder="avatar url">
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              <mat-hint *ngIf="uploadForm.controls['avatarurl'].errors && uploadForm.controls['avatarurl'].touched">
                Please enter a valid url</mat-hint>
              <button *ngIf="avatarUrl" matSuffix mat-icon-button aria-label="Clear" (click)="avatarUrl=''">
                <mat-icon style="color:brown ;">close</mat-icon>
              </button>
            </mat-form-field>

            <div style="margin-top: 2%;">

              <button style="margin-right: 20px;" class="btn btn-success btn-sm px-3" (click)="onSubmit(1)"
                type="submit" *ngIf="!showButton && selected=='Decentraland' && !mobile">{{unityService.mode=='0'?'Enter using your wallet': 'Play using your Wallet'}}</button>

              <button (click)="onSubmit(2)" type="submit" *ngIf="!showButton && unityService.mode=='1'" class="btn btn-secondary btn-sm px-3">Play
                as a guest</button>
            </div>

            <img *ngIf="loding" style="width: 15%; margin-top: -4%;" src="assets/img/giphy.gif" alt="">
          </form>
        </div>
      </div>
    </div>

  </section>
  <div class="fixed-bottom" style="padding-bottom:2% ;" *ngIf="!mobile">
    <ul class="nav  mb-0 justify-content-center gap-2" id="pills-tab" role="tablist">
      <li class="nav-item">
        <button class="btn btn-dark"><span><i class="bi bi-shift"></i></span> Shift to run</button>
      </li>
      <li>
        <button class="btn btn-dark"><span><i class="bi bi-usb"></i></span>&nbsp;Press space to Jump</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-dark"><span><i class="bi bi-mouse"></i></span>&nbsp;Use your mouse or trackpad to
          Rotate</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-dark"><span><i class="bi bi-square"></i></span>&nbsp;Press E to interact with
          elements</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-dark"><span><i class="bi bi-arrows-move"></i></span>&nbsp;Use WASD or arrows to
          Move</button>
      </li>
    </ul>
  </div>

</div>

<!-- partial:index.partial.html -->
<main *ngIf="showSpinner">

  <div class="mountains" style="z-index:100 ;">
    <h2 *ngIf="!mobile" class="text-white" style="text-align: center;margin-left: 11vmin;margin-top: -6vmin;font-weight: bold;">
      {{message}}</h2>

    <img style="z-index:100;" src="/assets/img/nyc.png" style="height: 100%;width:108%;">
  </div>
  <div class="moon">

    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="plane">
    <div class="vlines">
      <div class="left">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="right">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="car">
    <div class="wheels">
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="parts"></div>
    </div>
    <div class="body">
      <div class="bumper"></div>
    </div>
  </div>
</main>
<!-- partial -->