
:host {
  .mat-slide-toggle {
    &.mat-checked {
      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'ON';
        font-size: 45%;
        font-weight: 700;
        color: black;
        position: absolute;
        left: 4px;
        top: -5px;
      }
    }
    &:not(.mat-checked) {
      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'OFF';
        font-size: 40%;
        font-weight: 700;
        color: white;
        position: absolute;
        left: 21px;
        top: -5px;
      }
    }
  }
}
::ng-deep .mat-select-value{    
  color: rgb(0, 0, 0)!important; 
  font-weight: bold;
  font-size: 2vmin;
  padding-top: 0.5vmin;
}
.example-full-width {
  width: 60%;
  padding-left: 4%;
}
.example-full-username {
  width: 35%;
}
::ng-deep .mat-form-field-wrapper{
  margin-bottom: 0.8em;
}
::ng-deep .mat-focused .mat-form-field-label  {
  /*change color of label*/
  color: #fff !important;
 }
 mat-form-field {
  margin-right: 12px;
}
::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
     color: #26334a;
     background-color: #26334a50;
border-radius: 5px;
  }
  mat-form-field {
     .mat-hint, input, ::placeholder, .mat-form-field-label {
        color: #f7f7f7;
     }
  }
}


::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #26334a !important;
}

.containersp {
  /*max-width: 1200px;*/
  width: 70%;
  padding-bottom: 4%;
}
@media only screen and (max-width: 600px) {
  
  .containersp {
    /*max-width: 1200px;*/
    width: 100%;
    padding-bottom: 4%;
  }
  .btn-sm {
    margin-top: 5%;
    margin-left: 25%;
}
}
.exp{
  position: absolute;
  bottom: 0;display: flex;
  align-items: center;
  justify-content: center
}
.bttom{
  position: absolute;
  bottom: 12%;display: flex;
  align-items: center;
  justify-content: center
}

.mat-slide-toggle {
  transform: scale(1.5) translate3d(16%,0,0);
  
}

mat-progress-bar{
  height: 6px;
  display: flex;
  width: 100%;    
}
$white: #fff;
$black: #000;

.card {
  padding-left:30px;
  padding-right: 22px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 1em;
  border: 1px solid transparentize($white, 0.5);
  text-shadow: 0 0 1em transparentize($black, 0.5);
  background: transparentize($white, 0.8);
  backdrop-filter: blur(5px);
  transform: perspective(80px);
  transform-style: preserve-3d;
}
.spacetop199 {
  margin-top: 8%;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #feb101 ;
  padding-bottom: 2%;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #feb101 ;
  padding-bottom: 2%;
}

.td{
  font-weight: bold;
}
.tr{
  width: 50%;
}

  .size8 {
    font-size: 8rem;
  }
  
  @media screen and (max-width: 1500px) {
    div.example {
      display: none;
    }
  }

@keyframes bouncing {
  0% {
    top: 40%;
  }

  100% {
    top: 30%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bee-spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  //top: 40%;
  //left: calc(50% - 10%);
  z-index: 90;
  background: rgba(255, 255, 255, 0.029);
  background-repeat: no-repeat;
  background-size: 100%;

}


h1{
  line-height: 130%;
}

p{
  margin: 0;
  line-height: 180%;
}

.size2 {
  font-size: 1.7rem;
}

.size5 {
  font-size:  8vmin;
  font-weight: bold;
}


.spacebottom3 {
  margin-bottom: 2rem;
}





//----------------------------------


//----------------------------------

main {
  width: 100%;
  height: 100%;
  position: fixed;
  background: radial-gradient(circle, #304367 0%, #141517 100%);
  z-index: 80;
}


.mountains {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 30%;
  width: 95%;
  height: 50%;
}

.mountains svg {
  bottom: 0;
  position: absolute;
}

.moon {
  width: 30vw;
  height: 30vw;
  position: absolute;
  left: 50%;
  bottom: 35%;
  transform: translate(-50%, 0);
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 -20px 40px -20px #F46585;
}

.moon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, #febd5f 0%, #FEDE5C 100%);
}
.moon .line {
  top: 0;
  width: 100%;
  height: 35%;
  position: absolute;
  animation: moonLinesSlide 6s ease-in infinite both;
}
.moon .line:nth-child(1) {
  animation-delay: 0.6s;
}
.moon .line:nth-child(2) {
  animation-delay: 1.2s;
}
.moon .line:nth-child(3) {
  animation-delay: 1.8s;
}
.moon .line:nth-child(4) {
  animation-delay: 2.4s;
}
.moon .line:nth-child(5) {
  animation-delay: 3s;
}
.moon .line:nth-child(6) {
  animation-delay: 3.6s;
}
.moon .line:nth-child(7) {
  animation-delay: 4.2s;
}
.moon .line:nth-child(8) {
  animation-delay: 4.8s;
}
.moon .line:nth-child(9) {
  animation-delay: 5.4s;
}
.moon .line:nth-child(10) {
  animation-delay: 6s;
}

.plane {
  z-index: 20;
  height: 30%;
  width: 100%;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  border-top: 2px solid #ffc0cb;
  box-shadow: 0 0 150px -60px #ffc0cb;
  background: linear-gradient(0deg, #040c1e 60%, #613f89 100%);
}
.plane .vlines {
  width: 100%;
  height: 100%;
  position: absolute;
}
.plane .vlines .line {
  box-shadow: 0 0 5px #FF91CF;
}
.plane .vlines .left {
  width: 50%;
  height: 100%;
  position: absolute;
  border-right: 1px solid #ffc0cb;
}
.plane .vlines .left .line {
  right: 0%;
  width: 2px;
  height: 100%;
  position: absolute;
  background: #ffc0cb;
}
.plane .vlines .left .line:nth-child(1) {
  right: 12%;
  transform-origin: 100% 0%;
  transform: skewX(-45deg);
}
.plane .vlines .left .line:nth-child(2) {
  right: 24%;
  transform-origin: 100% 0%;
  transform: skewX(-55deg);
}
.plane .vlines .left .line:nth-child(3) {
  right: 36%;
  transform-origin: 100% 0%;
  transform: skewX(-65deg);
}
.plane .vlines .left .line:nth-child(4) {
  right: 48%;
  transform-origin: 100% 0%;
  transform: skewX(-75deg);
}
.plane .vlines .left .line:nth-child(5) {
  right: 60%;
  transform-origin: 100% 0%;
  transform: skewX(-85deg);
}
.plane .vlines .right {
  width: 50%;
  height: 100%;
  right: 0;
  position: absolute;
  border-left: 1px solid #ffc0cb;
}
.plane .vlines .right .line {
  right: 0%;
  width: 2px;
  height: 100%;
  position: absolute;
  background: #ffc0cb;
}
.plane .vlines .right .line:nth-child(1) {
  left: 12%;
  transform-origin: 100% 0%;
  transform: skewX(45deg);
}
.plane .vlines .right .line:nth-child(2) {
  left: 24%;
  transform-origin: 100% 0%;
  transform: skewX(55deg);
}
.plane .vlines .right .line:nth-child(3) {
  left: 36%;
  transform-origin: 100% 0%;
  transform: skewX(65deg);
}
.plane .vlines .right .line:nth-child(4) {
  left: 48%;
  transform-origin: 100% 0%;
  transform: skewX(75deg);
}
.plane .vlines .right .line:nth-child(5) {
  left: 60%;
  transform-origin: 100% 0%;
  transform: skewX(85deg);
}
.plane .lines {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.plane .lines .line {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 90%;
  background: #ffc0cb;
  animation: linesSlide 3s ease-in infinite both;
  box-shadow: 0 0 5px #FF91CF;
}
.plane .lines .line:nth-child(1) {
  animation-delay: 0.3s;
}
.plane .lines .line:nth-child(2) {
  animation-delay: 0.6s;
}
.plane .lines .line:nth-child(3) {
  animation-delay: 0.9s;
}
.plane .lines .line:nth-child(4) {
  animation-delay: 1.2s;
}
.plane .lines .line:nth-child(5) {
  animation-delay: 1.5s;
}
.plane .lines .line:nth-child(6) {
  animation-delay: 1.8s;
}
.plane .lines .line:nth-child(7) {
  animation-delay: 2.1s;
}
.plane .lines .line:nth-child(8) {
  animation-delay: 2.4s;
}
.plane .lines .line:nth-child(9) {
  animation-delay: 2.7s;
}
.plane .lines .line:nth-child(10) {
  animation-delay: 3s;
}

.car {
  display: none;
  width: 60vw;
  height: 40vw;
  box-shadow: 0 0 0 2px white;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}
.car * {
  position: absolute;
}
.car .body {
  width: 100%;
  height: 80%;
  background: black;
}
.car .body .bumper {
  background: blue;
  width: 94%;
  left: 3%;
  height: 30%;
  bottom: 0;
  border-radius: 0 0 70% 70%;
}
.car .wheels {
  width: 100%;
  height: 50%;
  bottom: 0;
}
.car .wheels .parts {
  width: 72%;
  left: 14%;
  height: 80%;
  background: white;
}
.car .wheels .wheel {
  background: red;
  width: 14%;
  height: 100%;
  border-radius: 10%;
}
.car .wheels .wheel:nth-child(2) {
  right: 0;
}

@keyframes linesSlide {
  from {
    bottom: 100%;
    height: 2px;
  }
  to {
    bottom: -10px;
    height: 10px;
  }
}
@keyframes moonLinesSlide {
  from {
    top: 100%;
    height: 2px;
    background: #FE6770;
  }
  to {
    top: -40%;
    height: 35%;
    background: #FEFE53;
  }
}