<section class="pt-5 bg-primary">
  <div class="container py-4 px-5 text-center">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8">
        <div class="h1 text-white display-5 mb-2 fw-bold">Templets</div>
        <p class="lead text-white-50 m-0">Choose template for your live space</p>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-light">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#f0f2f5">
      <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
  </div>
</section>
<section class="py-5">
  <div class="container my-4">
    <div class="mt-5 mb-3">
      <div class="d-flex align-items-center justify-content-between mb-2 pb-1">
        <div class="h4 m-0 fw-bold" id="live">Templates 🚀 </div>
        <div><a class="btn btn-outline-primary btn-sm px-3">See all</a></div>
      </div>
      <div class="fs-4 text-blac-50 Lato" style="PADDING-BOTTOM: 30PX;">Select the base space you'll use to show your wearables. Some are minted in limited editions as NFTs.
      </div>

      <div style="box-shadow: 0 1px 2px rgb(0 0 0 / 20%);    "
        class="overflow-hidden  bg-white mb-5 border-radius-five filter-nav-page">
        <div class="row justify-content-between align-items-center">
          <div class="col-2">
            <select disabled class="form-select rounded-0 border-0 border-end p-3" aria-label="Default select example">
              <option selected="">All</option>
              <option value="2">Most followed</option>
              <option value="3">Most liked</option>
              <option value="4">Best seller</option>
            </select>
          </div>
          <div class="col-6" id="live">
            <ul class="nav explore-tabs mb-0 justify-content-center gap-2" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button (click)="getAllTemplates()" class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="true">All</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="getTemplateByCategory('art')" class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="false"><span><i
                      class="bi bi-brush"></i></span>&nbsp;Art</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="getTemplateByCategory('game')" class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="false"><span><i
                      class="bi bi-controller"></i></span>&nbsp;Game</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="getTemplateByCategory('illustration')" class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="false"><span><i
                      class="bi bi-columns-gap"></i></span>&nbsp;illustration</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="getTemplateByCategory('music')" class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="false"><span><i
                      class="bi bi-music-note"></i></span>&nbsp;Music</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="getTemplateByCategory('video')" class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="false"><span><i
                      class="bi bi-play-circle"></i></span>&nbsp;Video</button>
              </li>
            </ul>
          </div>
          <div class="col-2">
            <select disabled class="form-select rounded-0 border-0 border-start p-3" aria-label="Default select example">
              <option selected="">Sort by:Newest</option>
              <option value="1">Sort by:Oldest</option>
              <option value="2">Reserve:High to Low</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
       
       
        <div class="col-12">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col" *ngFor="let template of ListTemplates">
                  <div class=" rounded shadow-osahan  bg-white card border-0 authors-card-list">
                   
                   <div class="card-footer border-0 bg-transparent position-absolute top-0 end-0">
                    <div style="margin-top: 5px;">
                      <!-- Call to action buttons -->
                      <ul class="list-inline m-0">
                        <li class="list-inline-item">
                          <p-tag (click)="goTo(template)" icon="{{template.collectable?'pi pi-lock':'pi pi-lock-open'}}" severity="danger" value='{{template.collectable? "Premium Collect to use":"Free"}}'></p-tag>
                        </li>
                   
                      </ul>
                    </div>
                  </div>
                    <img src="{{template.image}}" alt="#" class="card-img-top rounded-lg">
                    <div class="card-footer border-0 bg-transparent border-top p-3">
                      <div class="d-flex align-items-center justify-content-between">
                          <div>
                            <h3 class="fw-bold mb-0">{{template.name}}</h3>
                            
                          </div>
                          <div>
                            <a (click)="changer(template)"  class="btn btn-dark btn-sm" >Create space</a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div  class="col" *ngFor="let item of [1,2,3,4]">
                  <ngx-skeleton-loader count="1" appearance="circle" animation="progress" [theme]="{ 
                    'border-radius': '15px',
                    height: '265px',
                    'background-color': '#dee3ec',
                    width:'100%'
                  }" *ngIf="skeletonloader"> </ngx-skeleton-loader>     
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <div class="d-flex justify-content-center mt-5">
            <a (click)="LoadMore()" disabled class="btn btn-outline-primary btn-lg">explore more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content border-0 rounded shadow">
    <div class="modal-header border-0">
      <a [hidden]="true" id="OpenModalButton2"   class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Create space</a>
      <button id="closeModalButton" [hidden]="true" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body px-5" *ngIf="!template.collectable">
      <div class="text-center mb-3">
        <div class="h1 fw-bold">Create your space</div>
      </div>
      <div class="p-2" >
        <div class="mb-4">
          <label for="exampleInputEmail1" class="form-label">Space name:&nbsp;<span class="text-danger">*</span></label>
          <input type="text" class="form-control rounded-lg bg-light" placeholder="Enter Space name" [(ngModel)]="roomName" id="exampleInputEmail1">
        </div>
        <div class="mb-4">
          <label for="exampleInputEmail1" class="form-label">Space description:&nbsp;<span class="text-danger">*</span></label>
          <textarea  class="form-control rounded-lg bg-light" placeholder="Enter Space name" [(ngModel)]="roomDescription" id="exampleInputEmail1"></textarea>
        </div>

        <div class="d-grid">
          <button type="submit"  (click)="createRoom()" class="btn btn-primary btn-lg shadow-sm">Create</button>
        </div>
        
      </div>
    </div>
    <div class="modal-body px-5" *ngIf="template.collectable">
      <div class="text-center mb-3">
        <div class="h1 fw-bold">Create your space</div>
      </div>
      <div class="p-2" *ngIf="balance > 0">
        <div class="fw-bold text-center">Your have {{balance}} token of this template</div>
        <div class="mb-4">
          <label for="exampleInputEmail1" class="form-label">Space name:&nbsp;<span class="text-danger">*</span></label>
          <input type="text" class="form-control rounded-lg bg-light" placeholder="Enter Space name" [(ngModel)]="roomName" id="exampleInputEmail1">
        </div>
        <div class="mb-4">
          <label for="exampleInputEmail1" class="form-label">Space description:&nbsp;<span class="text-danger">*</span></label>
          <textarea  class="form-control rounded-lg bg-light" placeholder="Enter Space name" [(ngModel)]="roomDescription" id="exampleInputEmail1"></textarea>
        </div>

        <div class="d-grid">
          <button type="submit"  (click)="createRoom()" class="btn btn-primary btn-lg shadow-sm">Create</button>
        </div>
      </div>
      <div class="p-2" *ngIf="balance == 0">
        <div class="fw-bold text-center p-2">You don't have any tokens of this template</div>
        <p class="text-center  p-2">if you want to create space from this template, you need to buy a token from it</p>
        <div class="d-grid">
          <button data-bs-dismiss="modal" [routerLink]="['/assets',template.contractAddress,template.tokenId]" class="btn btn-primary btn-lg shadow-sm">Buy token</button>
        </div>
      </div>
    </div>
  </div>
</div></div>

<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content border-0 rounded shadow">
    <div class="modal-header border-0">
      <a [hidden]="true" id="OpenModalButton"   class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">Create space</a>
      <button id="closeModalButton2" [hidden]="true" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    <div class="modal-body px-5">
      <div class="text-center mb-3">
        <div class="h1 fw-bold">Connect your wallet to the polygon network </div>
      </div>
      <div class="p-2" >
        <div class="d-grid">
          <button type="submit"  (click)="ConnectWallet()" class="btn btn-primary btn-l shadow-sm">Connect your Wallet</button>
        </div>
        
      </div>
    </div>
  </div>
</div></div>