<section class="pt-5 bg-primary">
    <div class="container py-4 px-5 text-center">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <DIV class="text-white display-5 mb-2 fw-bold">Create Template</DIV>
                <p class="lead text-white-50 m-0">Fill in the inputs to create a template.</p>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#f0f2f5">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
</section>
<section class="py-5">
    <div class="container py-4" style="max-width: 1400px;">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-12">
                <div class="row">
                    <div class="col-lg-8 pe-lg-5">
                        <div>
                            <div class="rounded bg-white p-3 mb-3 shadow-sm">
                                <div class="mb-3">
                                    <h3 class="fw-bold mb-1">Space Info</h3>
                                </div>
                                <div class="mb-3">
                                    <h4 class="fw-bold mb-1">Image</h4>
                                    <div class=" upload__file border border-2 rounded py-5"
                                        style="background-image: url({{image}});">
                                        <div class="text-center">
                                            <div class="small text-muted mb-2">Upload a preview image for your Space .
                                            </div>
                                            <button type="button" class=" btn btn-white border rounded-lg fw-bold"><i
                                                    class="bi bi-cloud-upload">
                                                </i>&nbsp;upload artwork &nbsp;
                                                <input class="upload__input" accept="image/*"
                                                    (change)="showImage($event.target)" type="file" name="" id="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h4 class="fw-bold mb-1">Name</h4>
                                    <input type="text" [(ngModel)]="template.name" class="form-control"  #name>
                                </div>
                                <div class="mb-3">
                                    <h4 class="fw-bold mb-1">Sene Name</h4>
                                    <input type="text" [(ngModel)]="template.seneName" class="form-control" #sene>
                                </div>
                                <div class="mb-3">
                                    <h4 class="fw-bold mb-1">Description</h4>
                                    <textarea [(ngModel)]="template.description" type="text" class="form-control"
                                        value="e.g. 'After purchasing you will able to recived the artwork..'"
                                        ></textarea>
                                </div>
                                <div class="mb-3">
                                    <h4 class="fw-bold mb-1">Space theme</h4>
                                    <div class="col">
                                        <select #theme class="form-select rounded-lg" [(ngModel)]="template.category"
                                            aria-label="Default select example">
                                            <option>Art</option>
                                            <option value="game">Game</option>
                                            <option value="illustration">Illustration</option>
                                            <option value="music">Music</option>
                                            <option value="video">Video</option>
                                            <option value="sci-fi">Sci-fi</option>
                                            <option value="education">Education</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">

                                    <h4 class="fw-bold mb-1">Mint now</h4>
                                    <div
                                        class="d-flex justify-content-between align-items-center form-check form-switch p-1">
                                        <div>
                                            <label class="form-check-label d-flex flex-column"
                                                for="flexSwitchCheckChecked1">
                                                <span class="text-muted small" >Mint the template now</span>
                                            </label>
                                        </div>
                                        <div class="h5 m-0">
                                            <input  class="form-check-input m-0"
                                                data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                                aria-expanded="false" aria-controls="collapseExample" type="checkbox"
                                                role="switch" id="flexSwitchCheckChecked1" [(ngModel)]="template.collectable"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="rounded bg-white p-3 mb-3 shadow-sm">
                                    <div class="mb-3">
                                        <h3 class="fw-bold mb-1">Mint info</h3>
                                    </div>
                                    <div class="mb-3">
                                        <h4 class="fw-bold mb-1">Video</h4>
                                        <div class=" upload__file border border-2 rounded py-5">
                                            <div class="text-center">
                                                <div class="small text-muted mb-2">Add a short 3-15 second video
                                                    showcasing your space.</div>
                                                <button type="button"
                                                    class=" btn btn-white border rounded-lg fw-bold"><i
                                                        class="bi bi-cloud-upload">
                                                    </i>&nbsp;upload artwork &nbsp;
                                                    <input class="upload__input" (change)="uploadVideo($event.target)" type="file" name=""
                                                        id="">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-1">
                                            <h4 class="fw-bold mb-1">Info</h4>
                                        </div>
                                        <div class="col">
                                            <label class="form-label">Royalties</label>
                                            <select ormControlName="price" class="form-select rounded-lg"
                                                aria-label="Default select example">
                                                <option selected>10%</option>
                                                <option value="1">15%</option>
                                                <option value="2">20%</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label class="form-label">Number of copies</label>
                                            <input  type="number" class="form-control" [(ngModel)]="template.amount" #quantity>
                                        </div>
                                        <div class="col">
                                            <label class="form-label">Propertie</label>
                                            <input disabled type="text" class="form-control" placeholder="e.g.propertie"
                                                aria-label="Last name">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4 d-none d-md-block">
                        <div class="sidebar-fix">
                            <h3 class="fw-bold mb-1">Preview</h3>
                            <div class="col">
                                <div class="rounded shadow-osahan bg-white card border-0 authors-card-list">
                                    <img src="{{image==''?'assets/img/blackroom.jpg' :image}}" alt="#" class="card-img-top rounded-lg">
                                    <div class="card-footer border-0 bg-transparent border-top p-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <h5 class="fw-bold mb-0">{{name.value? name.value:"name"}}</h5>
                                                <div class="small text-muted">Amount {{quantity.value? quantity.value:"1"}}</div>
                                            </div>
                                            <div>
                                                <a class="btn btn-dark btn-sm" data-bs-toggle="modal" >Create space</a>

                                            </div>
                                        </div>
                                    </div>
                                    <a  class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div><a (click)="onSubmit()" class="btn btn-danger btn-lg rounded w-100">Create
                                        Template</a></div>
                                <div class="small text-center mt-3 text-muted"><span class="text-success"><i
                                            class="bi bi-check-circle-fill"></i></span>&nbsp;Saved just now</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
