
.upload {
    &__item {
      margin-bottom: 1rem;
      position: relative;
      margin-bottom: 5.5rem;
    }
  
    &__image {
      position: absolute;
      background-color: #23262f;
  
    }
  
    &__file {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      overflow: hidden;
      background: #f4f5f6;
      margin:auto;
      //margin-top: 20px;
    }
  
    &__input {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 400px;
      opacity: 0;  
    }
  }
  .mat-form-field {
    margin: 1px;
    font-weight: 540;
    font-size: unset;
    //background-color: #ebebd5;
  
  }
  
  .error {
    color: #ff0000;
    text-align: center;
  }
  .contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
  }
  .contact-form .form-control{
    border-radius:1rem;
  }
  
  .contact-form form .row{
    margin-bottom: -7%;
  }
  .contact-form h3{
    margin-bottom: 4%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
    font-size: 35px;
  }
  .collection{
    color: #0c0c0c;
    font-size: 15px;
  }
  .span{
    color: #dc3545;
    font-weight: bold;
  }
  .contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }
  
  .btnContactSubmit
  {
      width: 50%;
      border-radius: 1rem;
      padding: 1.5%;
      color: #fff;
      background-color: #0062cc;
      border: none;
      cursor: pointer;
  }
  
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  
  .example-card {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .example-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/NFT_Icon.png/220px-NFT_Icon.png');
    background-size: cover;
  }
  .example-button-container{
    margin-left: 82px;
  }
  .card-taill {
    max-width: 100%;
    height: 485px;
  }
  mat-form-field {
    margin-right: 12px;
  }