<header class="shadow-lg p-3 bg-white">
  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>
  <!-- The HTML5 video element that will create the background video on the header -->
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source autoplay="autoplay" src="../../../assets/img/Omnispaces.mp4" type="video/mp4">
  </video>
  <!-- The header content -->
  <div class="container h-100">
    <section>
      <h1 class="d-none">For SEO</h1>
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-7 col-12">
            <div class="mb-4 mt-2">
              <div class="title text-white mb-5">Own your space in the metaverse</div>
              <div class="fs-4 Lato goo" style="line-height: 170%;">Omnispaces is a beautiful social world
                for you to collect<br>sell,show your art, and gather with others.</div>
              <svg style="visibility: hidden; position: absolute;" width="0" height="0"
                xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                  <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                      result="goo" />
                    <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                  </filter>
                </defs>
              </svg>
            </div>
            <div class="mt-5">
              <a (click)="onClick('live')" class="btn btn-dark btn-lg me-3 hover">Discover</a>
              <a routerLink="/templates" class="btn btn-light btn-lg hover">Create space</a>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="row g-4 mt-5">
          <div class="col-lg-4 col-4 ">
            <div class="rounded shadow-sm p-4 bg-white d-flex align-items-center gap-3 steps-item">
              <span class="bg-primary rounded-circle steps-item-icon"><i class="bi bi-wallet2 text-white"></i></span>
              <div>
                <div class="fw-bold fs-6 mb-1">1. Connect your wallet</div>
                <p class="text-muted m-0 d-none d-md-block">Use Trust Wallet, Metamask or any wallet to connect to the
                  app.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-4">
            <div class="rounded shadow-sm p-4 bg-white d-flex align-items-center gap-3 steps-item">
              <span class="bg-primary rounded-circle steps-item-icon"><i class="bi bi-patch-plus text-white"></i></span>
              <div>
                <div class="fw-bold fs-6 mb-1">2. Create your live space</div>
                <div class="text-muted m-0 d-none d-md-block">Click on create space on the home page or on your profile
                  page.</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-4">
            <div class="rounded shadow-sm p-4 bg-white d-flex align-items-center gap-3 steps-item">
              <span class="bg-primary rounded-circle steps-item-icon"><i
                  class="bi bi-person-workspace text-white"></i></span>
              <div>
                <div class="fw-bold fs-6 mb-1">3. Jump in spaces </div>
                <div class="text-muted m-0 d-none d-md-block">Jump into a space from the home page or as editor from
                  your profile.</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</header>

<section class="py-5">
  
  <div class="container my-4">
    <div class="mt-5 mb-3">
      <div class="d-flex align-items-center justify-content-between mb-2 pb-1">
        <div class="h4 m-0 fw-bold" id="live">Live Spaces 🕳️ </div>
        <div><a (click)="onClick('live')" class="btn btn-outline-primary btn-sm px-3">See all</a></div>
      </div>
      <div class="fs-4 text-blac-50 Lato" style="PADDING-BOTTOM: 30PX;">Jump into a space directly from your browser
      </div>

      <div style="box-shadow: 0 1px 2px rgb(0 0 0 / 20%);    "
        class="overflow-hidden  bg-white mb-5 border-radius-five filter-nav-page">
        <div class="row justify-content-between align-items-center">
          <div class="col-2">
            <select disabled class="form-select rounded-0 border-0 border-end p-3" aria-label="Default select example">
              <option selected="">All</option>
              <option value="2">Most followed</option>
              <option value="3">Most liked</option>
              <option value="4">Best seller</option>
            </select>
          </div>
          <div class="col-6" id="live">
            <ul class="nav explore-tabs mb-0 justify-content-center gap-2" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button (click)="filterByCategory(null)" class="nav-link active" id="pills-home-tab"
                  data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                  aria-selected="true">All</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="filterByCategory('art')" class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                  aria-selected="false"><span><i class="bi bi-brush"></i></span>&nbsp;Art</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="filterByCategory('game')" class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                  aria-selected="false"><span><i class="bi bi-controller"></i></span>&nbsp;Game</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="filterByCategory('illustration')" class="nav-link" id="pills-home-tab"
                  data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                  aria-selected="false"><span><i class="bi bi-columns-gap"></i></span>&nbsp;illustration</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="filterByCategory('music')" class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                  aria-selected="false"><span><i class="bi bi-music-note"></i></span>&nbsp;Music</button>
              </li>
              <li class="nav-item" role="presentation">
                <button (click)="filterByCategory('video')" class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                  aria-selected="false"><span><i class="bi bi-play-circle"></i></span>&nbsp;Video</button>
              </li>

            </ul>
          </div>
          <div class="col-2">
            <select (change)="filterByTemplate(value.value=='null'?null:value.value)" #value
              class="form-select rounded-0 border-0 border-start p-3" aria-label="Default select example">
              <option value="null" selected="null">Sort by Template : All</option>
              <option value="Closet">Closet</option>
              <option value="Clouds Hotel">Clouds Hotel</option>
              <option value="Aquarium Hub">Aquarium Hub</option>
              <option value="Basic Museum">Basic Museum</option>
              <option value="Law City">Law City</option>
              <option value="ShowRoom">ShowRoom</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col" *ngFor="let space of page.data | async">
                  <div class=" rounded shadow-osahan  bg-white card border-0 authors-card-list" style="height: 100%;">
                    <div class="card-footer border-0 bg-transparent border-bottom  p-2 ">
                      <div class="">
                        <div>
                          <h3 class="fw-bold mb-0 text-center">{{space.item.roomName}}</h3>
                        </div>

                      </div>
                    </div>
                    <img src="{{space.item.image}}" alt="#" class="card-img-top">
                    <div class="card-body pt-2">
                      <div><img src="{{space.owner.profile_image}}" alt="#" style="width: 60px;"
                          class="img-fluid rounded-circle border border-white border-4 shadow-sm"></div>
                      <h5 class="card-title mb-0 fw-bold">{{space.owner.username}}</h5>
                      <div class="d-flex gap-2 small mb-2" onclick="CopyToClipboard('sample')">
                        <div>{{space.item.OwnerAddress.substr(0,7)+" ... "+space.item.OwnerAddress.substr(36,41)}}
                        </div>
                        <div><a class="text-decoration-none text-primary"><i class="bi bi-wallet2"></i></a></div>
                      </div>
                      <p class="card-text text-muted limit">{{space.item.description}}</p>
                    </div>
                    <a routerLink="/space/{{space.item.seneName}}/{{space.item.id}}" class="stretched-link"></a>
                  </div>
                </div>


              </div>
              <div *ngIf="page.loading | async">
                <br>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                  <div class="col" *ngFor="let item of [1,2,3,4]">
                    <ngx-skeleton-loader count="1" appearance="circle" animation="progress" [theme]="{ 
                      'border-radius': '15px',
                      height: '310px',
                      'background-color': '#dee3ec',
                      width:'100%'
                    }"> </ngx-skeleton-loader>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <div class="d-flex justify-content-center mt-5">
            <a *ngIf="!this.page._done.value" (click)="LoadMore()" disabled
              class="btn btn-outline-primary btn-lg">explore more</a>
          </div>
          <p style="margin-top: '5px';" class="fs-5 text-blac-50 Lato d-flex justify-content-center"
            *ngIf="page.done | async">I ran out of spaces!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  
<div class="modal fade bd-example-modal-lg" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="true"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0 rounded shadow"
      style="background-size: cover;background-image: url('../../../assets/img/maxresdefault.png');">
      <div class="modal-header" style="border-bottom: none;">
       
        <button type="button" class="btn-close" style="background-color: aliceblue;color: aliceblue;" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-header border-0">
        <div style="width:120%!important;height:350px">

          <div  title="POAP is a system that event organizers can easily use to distribute attendance crypto-badges to people that show up" class="Lato goo2" style="font-size: 1.3rem;display: inline;">Visit Miami party and redeem your POAP in the dispenser machine</div>
          <div class="annonce">
            <img src="../../../assets/img/airdrop.png" style="width:100px ;" class="card-img-top" alt="...">
            <div class="goo2" >We will <span title="Airdrop is a marketing tactic where developers of a specific blockchain project send free tokens to users." style="color:rgb(239, 34, 7) ;">Airdrop</span> the Miami-party Template to the first ten users of dispenser machine on Monday,November 28</div>
          </div>
        </div>
        <a [hidden]="true" id="OpenModalButton" class="btn btn-dark btn-sm" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop3">Create space</a>
        <button id="closeModalButton2" [hidden]="true" type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
      </div>
      <div class="modal-body px-5">
        <div class="text-center mb-3">
        </div>

        <div class="p-2">
          <div class="d-grid gap-2">

            <a class="btn btn-light" routerLink="/space/MiamiParty/FVkYeUtUD7bORf1RJ9wX" data-bs-dismiss="modal" aria-label="Close">Visit Miami party Room</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->