.card:hover {
    transform: scale(1.05);
}

.card {
    transform: transform .5s;
}

.shadow-osahan:hover {
    border: 2px solid;
    box-shadow: 5px 7px #888888;
}
.hover:hover{
    transform: scale(1.05);
}

.goo {
    font-size: 3rem;
    line-height: 1.35;
    display: inline;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    background: var(--color-highlight);
    padding: 0.5rem 1rem;
    -webkit-filter: url('#goo');
            filter: url('#goo');
    background: white;

  }
  .goo:focus {
    outline: 0;
  }
  .limit{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
  }
  .annonce{
    position: absolute;
    width: 287px;
    left: 33%;
    margin-top: 54px;
    text-align: center;
    font-size: 13px;
  }
  .example-tooltip-uppercase {
    text-transform: uppercase;
  }
  .goo2 {
    line-height: 1.35;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    background: var(--color-highlight);
    padding: 0.5rem 1rem;
    -webkit-filter: url('#goo');
            filter: url('#goo');
    background: white;

  }
  .goo2:focus {
    outline: 0;
  }

  
  