<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
        data-aos-delay="200">
        <h1>Discover,Sell Exclusive Digital collectibles</h1>
        <h2>A peer-to-peer store for virtual clothing NFTs.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a class="btn-get-started scrollto" routerLink="/decl/browse">Browse Wearables</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/clients/hero.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<main id="main">
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">
      <div class="row lign-items-center justify-content-center" data-aos="zoom-in">
        <div class="col-lg-5 col-md-4 col-6 d-flex align-items-center justify-content-center" style="width: 25%;">
          <img src="assets/img/clients/OpenSea.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-5 col-md-4 col-6 d-flex align-items-center justify-content-center" style="width: 25%;">
          <img src="assets/img/clients/decl.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-5 col-md-4 col-6 d-flex align-items-center justify-content-center" style="width: 25%;">
          <img src="assets/img/clients/dw20jmd21au71.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-5 col-md-4 col-6 d-flex align-items-center justify-content-center" style="width: 25%;">
          <img src="assets/img/clients/Looksrare-modified.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Cliens Section -->
  <br><br>
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio ">
    <div class="section-title">
      <h2>Collections</h2>
    </div>
    <div class="containeraz">
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active show" id="Collections">
          <p-carousel *ngIf="collection$ | async as trends" [value]="trends" [numVisible]="4" [numScroll]="4" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
              <div class="card border-0 authors-card-list bg-white rounded shadow-osahan" style="margin: .8rem;height: 90%!important;"
                [routerLink]="['/decl/collection/',product.blockchain,(product.id).split(':')[1]]">
                <div class="card-footer border-0 bg-transparent border-bottom  p-2 ">
                  <div class="">
                    <div>
                      <h3 class="fw-bold mb-0 text-center title2">{{product.meta.name=='Untitled'?product.name:product.meta.name}}</h3>
                    </div>
                  </div>
                </div>

                <img class="card-img-top"
                  src="{{product.meta.content.length > 0?product.meta.content[0].url:'https://assets.raribleuserdata.com/prod/v1/image/t_avatar_big/aHR0cHM6Ly9pcGZzLmlvL2lwZnMvYmFmeWJlaWIycHlxdjZlcGoycWdobmw1a3dlcGdjZ29lc2x6dTd0dmNzaXhxbm9iNWQ3cWZobjY0M3k='}}"
                  [alt]="product.name" alt="Card image cap">
                <div class="card-body pt-2">
                  
                  <div>
                    <div class="card-text mb-1" style="display:inline-block;"><span
                        class="badge bg-success text-uppercase">{{product.blockchain}}</span>
                    </div>&nbsp;

                    <div class="card-text mb-1" style="display:inline-block;"><span
                        class="badge bg-warning text-dark text-uppercase">size: {{product.statistics?product.statistics.itemCountTotal:'no data'}}</span></div>
                  </div>
                  <div class="d-flex gap-2 small mt-1" onclick="CopyToClipboard('sample')">
                    <div>{{(product.id.split(':')[1].trim()).substr(0,15)+" ... "+(product.id.split(':')[1].trim()).substr(29,41)}}</div>
                    <div><a class="text-decoration-none text-primary"><i class="bi bi-wallet2"></i></a></div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>

  </section>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="section-title">
      <h2>Items</h2>
    </div>
    <div class="container" data-aos="fade-up">
      <div class="">
        <div class="d-flex align-items-center justify-content-between mb-2 pb-1">
          <div class="h4 m-0 fw-bold" id="live">Trending Items in decntraland</div>
          <div><a class="btn btn-outline-primary btn-sm px-3" routerLink="/decl/browse">See all</a></div>
        </div>
        <div class="fs-4 text-blac-50 Lato" style="PADDING-BOTTOM: 30PX;">Bestselling Items over the last 24hs 🔥
        </div>
      </div>
    </div>
<div class="containeraz">
      <p-carousel *ngIf="trendings$ | async as trends" [value]="trends" [numVisible]="5" [numScroll]="5"
        [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
          <div class="card osahan-item-list p-3 rounded shadow-osahan bg-white border-0" style="margin: .8rem;height: 90%!important;"
            [routerLink]="['/decl/item/',product.contractAddress,product.itemId]">
            <div class="image-wrapper">
              <img src="{{product.thumbnail}}" class="imge card-img-top rounded-lg" alt="...">
            </div>
            <div class="card-body fw-bold px-0 pb-0">
              <h5 class="card-title mb-1">{{product.name}} &nbsp;<span class="text-muted fw-normal small">
                </span></h5>
              <div *ngIf="product.isOnSale" style="display:inline-block;" class="card-text mb-1"><small
                  class="text-muted">Price :</small></div>
              <div style="display:inline-block;margin-right: 10px;" *ngIf="product.isOnSale"
                class="text-danger position-absolute bottom-2 end-0">{{product.price}} &nbsp;&nbsp;<img
                  alt="MATIC on Polygon" src="../../../assets/img/mana.svg" width="17PX" style="MARGIN-BOTTOM: 3PX;">
              </div>
              <div>
                <div class="card-text mb-1" style="display:inline-block;"><span
                    class="badge bg-success text-uppercase">{{product.rarity}}</span></div>&nbsp;

                <div class="card-text mb-1" style="display:inline-block;"><span
                    class="badge bg-warning text-dark text-uppercase">{{product.data.wearable.category}}</span></div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="container" data-aos="fade-up">
      <div class="mt-5 mb-3">
        <div class="d-flex align-items-center justify-content-between mb-2 pb-1">
          <div class="h4 m-0 fw-bold" id="live">Adidas Virtual Gear - Genesis Collection</div>
          <div><a class="btn btn-outline-primary btn-sm px-3" routerLink="/decl/collection/ETHEREUM/0xba0c9cf4da821dba98407cc4f9c11f6c7a5f9bbc">See all</a></div>
        </div>
        <div class="fs-4 text-blac-50 Lato" style="line-height: 135%;">Unveiling the genesis collection of adidas Virtual Gear. An eclectic mix of impossible silhouettes, tying together past and future, virtual and physical, communities and creators, culture and identity.
        </div>
      </div></div>
      <div class="containeraz">
      <p-carousel *ngIf="addidasItems.length>=8" [value]="addidasItems" [numVisible]="5" [numScroll]="5"
        [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item" >
          <div class="card osahan-item-list p-3 rounded shadow-osahan bg-white border-0 " style="margin: .8rem;height: 90%!important;" *ngIf="product.meta" 
          [routerLink]="['/decl/asset/',product.blockchain,product.id.split(':')[1].trim(),product.tokenId]">
          <div class="image-wrapper">
            <img *ngIf="product.meta" src="{{product.meta.content[0].url}}" class="imge card-img-top rounded-lg" alt="...">
          </div>
          <div class="card-body fw-bold px-0 pb-0">
            <h5 *ngIf="product.meta" class="card-title mb-1">{{product.meta.name}} &nbsp;<span class="text-muted fw-normal small">
              </span></h5>
            
              <div *ngIf="product.orders.length>0" style="display:inline-block;" class="card-text mb-1"><small class="text-muted">Price
                :</small></div>
            <div style="display:inline-block;margin-right: 10px;" *ngIf="product.orders.length>0"
              class="text-danger position-absolute bottom-2 end-0">{{product.orders[0].makePrice}} &nbsp;&nbsp;<img  
                alt="MATIC on Polygon" src="{{product.blockchain=='POLYGON'?'../../../assets/img/polygon.svg':'../../../assets/img/ether.svg'}}" width="17PX" style="MARGIN-BOTTOM: 3PX;">
                
            </div>
            <div>
              <div class="card-text mb-1" style="display:inline-block;"><span
                  class="badge bg-success text-uppercase">{{product.blockchain}}</span></div>&nbsp;
                  
              <div *ngIf="product.meta"  class="card-text mb-1" style="display:inline-block;"><span
                  class="badge bg-warning text-dark text-uppercase">{{product.meta.attributes[2].value}}</span></div>
            </div>
            
          </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <div class="container my-4">
      <div class="mt-5 mb-3">
        <div class="d-flex align-items-center justify-content-between mb-2 pb-1">
          <div class="h4 m-0 fw-bold" id="live">Newest Items </div>
          <div><a class="btn btn-outline-primary btn-sm px-3" routerLink="/decl/browse">See all</a></div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        <div class="col" *ngFor="let nft of newest$ | async as newest"
          [routerLink]="['/decl/item/',nft.contractAddress,nft.itemId]">
          <div class="card osahan-item-list p-3 rounded h-100 shadow-osahan bg-white border-0">
           
            <div class="image-wrapper">
              <img src="{{nft.thumbnail}}" class="imge card-img-top rounded-lg" alt="...">
            </div>
            <div class="card-body fw-bold px-0 pb-0">
              <h5 class="card-title mb-1">{{nft.name}} &nbsp;<span class="text-muted fw-normal small">1/1
                </span></h5>
              <div *ngIf="nft.isOnSale" style="display:inline-block;" class="card-text mb-1"><small
                  class="text-muted">Price :</small></div>
              <div style="display:inline-block;margin-right: 10px;" *ngIf="nft.isOnSale"
                class="text-danger position-absolute bottom-2 end-0">{{nft.price}} &nbsp;&nbsp;<img
                  alt="MATIC on Polygon" src="../../../assets/img/mana.svg" width="17PX" style="MARGIN-BOTTOM: 3PX;">
              </div>
              <div>
                <div class="card-text mb-1" style="display:inline-block;"><span
                    class="badge bg-success text-uppercase">{{nft.rarity}}</span></div>&nbsp;
                <div class="card-text mb-1" style="display:inline-block;"><span
                    class="badge bg-success text-uppercase">{{nft.network}}</span></div>&nbsp;
                <div class="card-text mb-1" style="display:inline-block;"><span
                    class="badge bg-warning text-dark text-uppercase">{{nft.data.wearable.category}}</span></div>
              </div>
            </div>
            <a class="stretched-link"></a>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>