<ngx-spinner [zIndex]="2147483008" type="line-scale-party" size="small" bdColor="#fff" color="white"
  template="<img src='https://64.media.tumblr.com/f3c9c27da8351da3aee0452bffd7f6eb/tumblr_n71kcn1ch11ttqncoo1_500.gifv' />"
  [fullScreen]="true" name="Loading">

</ngx-spinner>

<ngx-spinner type="ball-circus" size="large" color="#fff" bdColor="rgba(51,51,51,0.8)" [fullScreen]="true">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ngx-spinner>

<app-navbar></app-navbar>
<router-outlet></router-outlet>