

button {
	color: inherit;
	background-color: transparent;
	border: 0;
	outline: 0 !important;
	cursor: pointer;
  }
  button.chatbox-open {
	position: fixed;
	bottom: 0;
	width: 52px;
	height: 52px;
	color: #fff;
	background-color: #0360a5;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	margin: 16px;
  }
  button.chatbox-close {
	position: fixed;
	bottom: 0;
	width: 52px;
	height: 52px;
	color: #fff;
	background-color: #0360a5;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	display: none;
	margin: 16px calc(2 * 16px + 52px) 16px 16px;
  }
  
  textarea {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	height: calc(16px + 16px / 2);
	padding: 0 calc(16px / 2);
	font-family: inherit;
	font-size: 16px;
	line-height: calc(16px + 16px / 2);
	color: #888;
	background-color: none;
	border: 0;
	outline: 0 !important;
	resize: none;
	overflow: hidden;
  }
  textarea::-moz-placeholder {
	color: #888;
  }
  textarea:-ms-input-placeholder {
	color: #888;
  }
  textarea::placeholder {
	color: #888;
  }
  .bi-send-plus:hover{
	color: #033d6a;
  }
  
  .chatbox-popup {
	display: flex;
	position: absolute;
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
	flex-direction: column;
	display: none;
	bottom: calc(2 * 16px + 52px);
	left: 16px;
	width: 377px;
	height: auto;
	background-color: #fff;
	border-radius: 16px;
  }
  .chatbox-popup .chatbox-popup__header {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding: 5px;
	color: #fff;
	background-color: #0360a5;
	align-items: center;
	justify-content: space-around;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	
  }
  .chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
	margin-top: -32px;
	background-color: #0360a5;
	border: 5px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
  }
  .chatbox-popup .chatbox-popup__main {
	box-sizing: border-box;
	width: 100%;
	padding: calc(2 * 5px) 10px;
	line-height: calc(16px + 16px / 2);
	color: #888;
	text-align: center;
  }
  .chatbox-popup .chatbox-popup__footer {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding: 10px;
	border-top: 1px solid #ddd;
	align-items: center;
	justify-content: space-around;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
  }
  
  .chatbox-panel {
	display: flex;
	position: absolute;
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
	flex-direction: column;
	display: none;
	top: 0;
	bottom: 0;
	width: 377px;
	background-color: #fff;
  }
  .chatbox-panel .chatbox-panel__header {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding: 16px;
	color: #fff;
	background-color: #0360a5;
	align-items: center;
	justify-content: space-around;
	flex: 0 0 auto;
	margin-top: 68px;
  }
  .chatbox-panel .chatbox-panel__main {
	box-sizing: border-box;
	width: 100%;
	padding: calc(2 * 16px) 16px;
	line-height: calc(16px + 16px / 2);
	color: #888;
	text-align: center;
	flex: 1 1 auto;
  }
  .chatbox-panel .chatbox-panel__footer {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding: 16px;
	border-top: 1px solid #ddd;
	align-items: center;
	justify-content: space-around;
	flex: 0 0 auto;
  }

  .incoming_msg_img {
	display: inline-block;
	width: 7%;
  }
  .received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
   }
   .received_withd_msg p {

	    /* background: #b6d4fe none repeat scroll 0 0; */
		border-radius: 36px;
		color: #646464;
		/* font-size: 12px; */
		margin: 0;
		/* padding: 7px 10px 7px 12px; */
		/* width: 100%; */
		display: flex;
  }
  .time_date {
	color: #747474;
	display: flex;
	font-size: 12px;
  }
  .msg_history {
	height: 250px;
	overflow-y: auto;
  }
  .msg_history2 {
	overflow-y: scroll;
  }
  .msg_history::-webkit-scrollbar{
	display:none
  }
  .msg_history2::-webkit-scrollbar{
	display:none
  }

   .sent_msg p {
	background: #05728f none repeat scroll 0 0;
	border-radius: 36px;
	font-size: 12px;
	margin: 0; color:#fff;
	padding: 7px 10px 7px 12px;
	width:100%;
	display: flex;
  }
  .outgoing_msg{ overflow:hidden; margin:12px 0 12px;}
  .sent_msg {
	float: left;
	width: 90%;
  }
  .redpoint{
	display:inline-block;
	height:16px;
	width:16px;
	line-height:16px;
	text-align:center;
	font-size:0.7em;
	border-radius:16px;
	color:#fff;
	background:red;
	  position: relative;
	  top: -46px;
	  right: -15px;
  }
  
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  padding: 5px;
  border-radius: 3px 3px 3px 3px;
  display: flex;
}
.info-msg {
	color: #000;
    background-color: #6ac5e4;
}
.success-msg {
	color: #000;
    background-color: #cbe69e;
}

