<!-- partial:index.partial.html -->
<button class="chatbox-open" (click)="chatOpen()" *ngIf=" this.account!= undefined">
    <i  class="bi bi-wechat fa-3x pos" aria-hidden="true" ></i>
    <span class="redpoint"  *ngIf=" this.message>0">
        {{this.message}}
      </span>
</button>
<button class="chatbox-close" (click)="chatClose()"  *ngIf=" this.account!= undefined">
    <i class="bi bi-x-lg fa-2x" aria-hidden="true"></i>
</button>
<section class="chatbox-popup " *ngIf=" this.account!= undefined" >
    <div class="chatbox-popup__header">
        
        <aside style="flex:3">
            <img *ngIf="account" style="width: 60px;border-radius: 50%;height: 60px;"  [src]="account?.profile_image" alt="sunil">
            <i *ngIf="!account" class="bi bi-person-circle fa-4x chatbox-popup__avatar " aria-hidden="true"></i>
        </aside>
        <aside style="flex:8">
            <div class="h5" *ngIf="account">Chat Room</div>{{account?.username}}
        </aside>
        <aside style="flex:1">
            <button class="chatbox-maximize" (click)="chatMaximize()"><i class="bi bi-window-plus" aria-hidden="true"></i></button>
        </aside>
    </div>
    <main #scrollMe class="chatbox-popup__main msg_history" *ngIf="chat$ | async as chat">
    
        <div  *ngFor="let msg of chat.messages; trackBy: trackByCreated"  >
        <div class="incoming_msg" *ngIf="msg.user?.wallet_address!=account?.wallet_address">
            <div class="incoming_msg_img"> <img style="width: 32px;border-radius: 50%;"  [src]="msg.user?.profile_image" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <div class="info-msg">
                    {{ msg.content }}
              </div>
                <span class="time_date"> By {{msg.user.username}} created at:{{msg.createdAt}}</span></div>
            </div>
            </div>
            <div class="outgoing_msg" *ngIf="msg.user?.wallet_address==account?.wallet_address">
                <div class="sent_msg">
                    <div class="success-msg">
                        {{ msg.content }}
                  </div>
                  <span class="time_date">By {{msg.user.username}} created at:{{msg.createdAt}}</span> </div>
                  <img style="width: 32px;height: 32px;border-radius: 50%;margin-top: 3px;"  [src]="msg.user?.profile_image" alt="sunil">
              </div>
          </div>
          
    </main>
    <footer class="chatbox-popup__footer" *ngIf="chat$ | async as chat">

        <aside style="flex:10">
            <textarea [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)" type="text" placeholder="Type your message here..." autofocus></textarea>
        </aside>
        <aside (click)="submit(chat.id)"  style="flex:1;color:#888;text-align:center;">
            <i class="bi bi-send-plus fa-2x" aria-hidden="true"></i>
        </aside>
    </footer>
</section>
<section class="chatbox-panel" *ngIf=" this.account!= undefined">
    <div class="chatbox-panel__header">
        <aside style="flex:3">
            <img *ngIf="account" style="width: 69px;height: 69px; border-radius: 50%;"  [src]="account?.profile_image" alt="sunil">
            <i *ngIf="!account" class="bi bi-person-circle fa-4x chatbox-popup__avatar" aria-hidden="true"></i>
        </aside>
        <aside style="flex:8">
            <div class="h3" *ngIf="account">Chat Room</div>{{account?.username}}
        </aside>
        <aside style="flex:3;text-align:right;">
            <button class="chatbox-minimize" (click)="chatMinimize()"><i class="bi bi-window-dash" aria-hidden="true"></i></button>
            <button class="chatbox-panel-close" (click)="chatPanelClose()"><i class="bi bi-x" aria-hidden="true"></i></button>
        </aside>
    </div>
    <main  #scrollMe2 class="chatbox-panel__main msg_history2" style="flex:1" *ngIf="chat$ | async as chat">
        <div  *ngFor="let msg of chat.messages; trackBy: trackByCreated" >
            <div class="incoming_msg" *ngIf="msg.user?.wallet_address!=account?.wallet_address">
                <div class="incoming_msg_img"> <img style="width: 32px;height: 32px;border-radius: 50%;"  [src]="msg.user?.profile_image" alt="sunil"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{ msg.content }}</p>
                    <span class="time_date"> {{msg.createdAt}}</span></div>
                </div>
                </div>
                <div class="outgoing_msg" *ngIf="msg.user?.wallet_address==account?.wallet_address">
                    <div class="sent_msg">
                        <p>{{ msg.content }}</p>
                      <span class="time_date"> {{msg.createdAt}}</span> </div>
                      <img style="width: 32px;height: 32px;border-radius: 50%;margin-top: 3px;"  [src]="msg.user?.profile_image" alt="sunil">

                  </div>
              </div>
    </main>
    <footer class="chatbox-panel__footer" *ngIf="chat$ | async as chat">

        <aside style="flex:10">
            <textarea [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)" type="text" placeholder="Type your message here..." autofocus></textarea>
        </aside>
        <aside (click)="submit(chat.id)" style="flex:1;color:#888;text-align:center;">
            <i class="bi bi-send-plus fa-2x" aria-hidden="true"></i>
        </aside>
    </footer>
</section>
