<section class="py-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-6 col-12 pe-lg-5">
                <div class="typewriter">
                </div>
                <div class="sidebar-fix " *ngIf="asset?.rawMetadata">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
                            class="content-image img-fluid w-100 rounded shadow">
                            <source [src]="asset?.rawMetadata?.animation_url" type="video/mp4">
                            Your browser does not support HTML video.
                        </video>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="mb-4 mt-2">
                    <h1 class="fw-bold text-dark">{{asset?.title}}</h1>

                    <div class="mb-4 mt-3">
                        <h3 class="fs-6">{{asset?.description}}</h3>
                    </div>
                    <div class="mb-2 mt-2">
                        <p class="fs-6">{{balance > 0 ? balance+" templates belong to you":""}}</p>
                    </div>
                    <div class="d-flex justify-content-between bg-white rounded shadow-sm p-4 align-items-center">
                        <div>
                            <h6 class="fw-bold mb-2 text-uppercase small">Current listing</h6>
                            <div class="d-flex align-items-center gap-3">
                                <h2 class="h1 fw-bold text-primary mb-0">{{dataorders.length > 0?
                                    dataorders[0].order.price * dataorders[0].order.amounttosall:"No offer currently"}}
                                    &nbsp;<img *ngIf="dataorders.length > 0" alt="MATIC on Polygon"
                                        src="https://openseauserdata.com/files/23830242e4f33a4bc50a60c83f550c29.svg"
                                        width="20PX" style="MARGIN-BOTTOM: 3PX;"></h2>
                                <h6 class="text-muted m-0 d-none d-sm-block">{{dataorders.length > 0 ?
                                    (dataorders[0].order.price*0.75*
                                    dataorders[0].order.amounttosall).toFixed(3)+"$":""}}</h6>
                            </div>
                        </div>
                        <div>
                            <a *ngIf="balanceforsell > 0" (click)="SellDialog()"
                                class="btn btn-primary btn-lg rounded-lg">listing</a>&nbsp;
                            <a *ngIf="dataorders.length > 0 && dataorders[0].seller.wallet_address!=this.address"
                                (click)="BuyWearable(dataorders[0].order)" 
                                class="btn btn-danger btn-lg rounded-lg">buy</a>
                        </div>
                    </div>
                </div>
                <div class="pt-1">

                    <div class="overflow-hidden bg-white rounded shadow-sm mb-4">
                        <ul class="nav auther-tabs mb-0 gap-3 border-bottom px-4 py-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">listings</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">History</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="artwork">
                                    <div class="border-bottom p-3">
                                        <div class="d-flex justify-content-between p-2"
                                            *ngFor="let order of dataorders">
                                            <div class="d-flex align-items-center gap-3">
                                                <div><img src="{{order.seller.profile_image}}" alt="#"
                                                        class="img-fluid rounded-circle ch-50 border shadow-sm"></div>
                                                <div>
                                                    <h4 class="fw-bold text-dark mb-1 h1">Bid placed by <span
                                                            class="text-muted fw-normal small">{{order.seller.username}}</span>
                                                    </h4>
                                                    <div class="text-muted fw-bold">
                                                        {{order.seller.wallet_address.substring(0, 8)}} ..
                                                        {{order.seller.wallet_address.substring(33, 42)}}</div>
                                                </div>
                                            </div>
                                            <div>
                                                <h4 class="mb-1">Quantity : {{order.order.amounttosall}}</h4>
                                                <div class="text-muted small">{{order.order?.price}}&nbsp;&nbsp;<img
                                                        alt="MATIC on Polygon"
                                                        src="https://openseauserdata.com/files/23830242e4f33a4bc50a60c83f550c29.svg"
                                                        width="17PX" style="MARGIN-BOTTOM: 3PX;"></div>
                                            </div>
                                            <td *ngIf="this.address!=order.seller.wallet_address"><button
                                                     type="button"
                                                    class="btn btn-primary btn-sm"
                                                    (click)=" BuyWearable(order.order)">Buy</button></td>
                                            <td *ngIf="this.address==order.seller.wallet_address"
                                                (click)="CancelListing(order.order.id)"><button type="button"
                                                    class="btn btn-danger btn-sm">cancel</button></td>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="artwork">
                                    <div class=" p-2">
                                        <table class="table table-borderless">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" id="demo">From</th>
                                                    <th scope="col">To</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">When</th>
                                                    <th scope="col">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let activity of activitys">
                                                    <th scope="row">{{activity.from.toString().substring(0, 4)}} ...
                                                        {{activity.from.toString().substring(39, 42)}}</th>
                                                    <td>{{activity.to.toString().substring(0, 4)}} ...
                                                        {{activity.to.toString().substring(39, 42)}}</td>
                                                    <td>{{activity.event}}</td>
                                                    <td>{{activity.date}}</td>
                                                    <!-- 
                                                    <td>{{activity.price}}&nbsp;&nbsp;<img *ngIf="hasOrder" alt="MATIC on Polygon" src="https://openseauserdata.com/files/23830242e4f33a4bc50a60c83f550c29.svg" width="15PX" style="MARGIN-BOTTOM: 3PX;"></td>
                                                  -->
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3">
                        <h6 class="fw-bold mb-3 text-uppercase fs-6">Edition 1 of 1</h6>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="overflow-hidden bg-white border-radius-five shadow-sm mb-2">
                                    <div class="p-3 border-bottom">
                                        <p class="m-0 text-uppercase text-muted">Creator</p>
                                    </div>
                                    <div class="p-3">
                                        <a class="text-decoration-none link-dark">
                                            <div class="d-flex align-items-center gap-3">
                                                <div><img src="assets/img/photo2.png" alt="#"
                                                        class="img-fluid rounded-circle ch-50 border shadow-sm p-1">
                                                </div>
                                                <div>
                                                    <h5 class="fw-bold m-0" *ngIf="activitys.length > 0">
                                                        {{activitys[0].to.toString().substring(0, 10)}} ...
                                                        {{activitys[0].to.toString().substring(32, 42)}}</h5>
                                                </div>
                                                <i class="bi bi-chevron-right ms-auto"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="overflow-hidden bg-white border-radius-five shadow-sm mb-2">
                                    <div class="p-3 border-bottom">
                                        <p class="m-0 text-uppercase text-muted">Collection</p>
                                    </div>
                                    <div class="p-3">
                                        <a class="text-decoration-none link-dark"
                                            href="https://polygonscan.com/address/{{asset?.contract.address}}">
                                            <div class="d-flex align-items-center gap-3">
                                                <div><img src="/assets/img/blackroom.jpg" alt="#"
                                                        class="img-fluid rounded-circle ch-50 border shadow-sm p-1">
                                                </div>
                                                <div>
                                                    <h4 class="fw-bold m-0">O-Template</h4>
                                                </div>
                                                <i class="bi bi-chevron-right ms-auto"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
