
.author-title{
    margin-bottom: 40px;
    font: 500 45px / 7px Roboto, "Helvetica Neue", sans-serif;
  }
  .hero-title,
    .hero-text {
      margin-bottom: 40px;
    }
  
    .example-form-field {
        width: 600px;
      }

    .container {
      max-width: 1000px;
    }
    .type{
      font: 400 30px / 28px Roboto, "Helvetica Neue", sans-serif
    }
    ::ng-deep .mat-focused .mat-form-field-label  {
        /*change color of label*/
        color: rgb(224, 204, 22) !important;
       }
      
       ::ng-deep.mat-form-field-underline {
        /*change color of underline*/
        background-color: rgb(224, 204, 22) !important;
      } 
      ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
        /* border-radius: 4px 4px 0 0; */
        /* padding: 0.75em 0.75em 0 0.75em; */
        background-color: aliceblue;
    }
      ::ng-deep.mat-form-field-ripple {
       /*change color of underline when focused*/
       background-color: rgb(224, 204, 22) !important;
      }
      .btn {
        margin-bottom: 19px;
    }