
<section class="about">
  <div class="container">
    <h2 class="h2 author-title">withdraw balance</h2>
    <p class="hero-text">withdraw the balance of the contract to your account</p>
    <ol class="erci-list">
      <li class="about-item">
        <div class="about-card">
          <div class="card-icon">
            <h2 class="h2 author-title">{{Balance}} ETH</h2>
          </div>
          <div class="btn-group">
            <div class="example-form-field" appearance="fill">
              <input matInput type="text" >
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              </button>
            </div>
            <button (click)="withdraw()" class="btn btn-primary">Withdraw</button>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>