<section class="py-5">
    <div class="container py-4">
    <div class="row justify-content-center">
    <div class="col-8 mx-auto">
    <div class="text-center">
    <img src="assets/img/404.svg" class="img-fluid w-50 mb-4" alt="#">
    <div class="fw-bold text-dark display-6 my-3">Page not found!</div>
    <div class="text-muted fs-6 mb-5">The page you are looking for does not exist or has been moved!</div>
    <a routerLink="/homepage" class="btn btn-primary btn-lg">Back to home page</a>
    </div>
    </div>
    </div>
    </div>
    </section>