<section class="py-5">
    <div class="container py-4">
        <div class="row">

            <div class="col-lg-6 col-12 pe-lg-5">

                <div class="sidebar-fix">
                    <div class="content">
                        <div class="content-overlay"></div>

                        <div *ngIf="this.item$ | async as item;else loading1"><img *ngIf="item.meta.content.length==1"
                                src="{{item.meta.content[0].url}}" class="content-image img-fluid w-90 rounded shadow">
                            <video *ngIf="item.meta.content.length==2"
                                class="content-image img-fluid w-100 rounded shadow" loop muted autoplay
                                oncanplay="this.play()" onloadedmetadata="this.muted = true">
                                <source autoplay="autoplay" src="{{item.meta.content[1].url}}" type="video/mp4">
                            </video>
                        </div>
                        <ng-template #loading1>
                            <img src="https://i.imgur.com/W9XBuNV.gif"
                                class="content-image img-fluid w-100 rounded shadow">
                        </ng-template>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="mb-4 mt-2">
                    <h1 class="fw-bold text-dark" *ngIf="item$ | async as item;else loading6">{{item?.meta.name}}</h1>
                    <ng-template #loading6>
                        <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                    </ng-template>
                    <div class="mb-5 mt-4">
                        <p class="fs-6" *ngIf="item$ | async as item ;else loading5">{{item.meta.description}}</p>
                        <ng-template #loading5>
                            <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                        </ng-template>
                    </div>
                    <div class="d-flex justify-content-between bg-white rounded shadow-sm p-4 align-items-center">
                        <div>
                            <h6 class="fw-bold mb-2 text-uppercase small">Current listing</h6>
                            <div class="d-flex align-items-center gap-3">
                                <h2 class="h1 fw-bold text-primary mb-0" *ngIf="orders$ | async as orders">
                                    {{orders.length > 0?
                                    orders[0].makePrice:"No offer currently"}} &nbsp;<img *ngIf="orders.length > 0"
                                        alt="MATIC on Polygon" src="{{'../../../assets/img/'+network+'-1.svg'}}"
                                        width="20PX" style="MARGIN-BOTTOM: 3PX;"></h2>
                            </div>
                        </div>
                        <div *ngIf="orders$ | async as orders">
                            <a *ngIf="orders.length > 0" (click)="buy(orders[0].id)"
                                class="btn btn-danger btn-lg rounded-lg">buy</a>
                        </div>
                    </div>
                </div>
                <div class="pt-1">

                    <div class="overflow-hidden bg-white rounded shadow-sm mb-4">
                        <ul class="nav auther-tabs mb-0 gap-3 border-bottom px-4 py-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Listings</button>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="artwork">
                                    <div class="border-bottom p-3" *ngIf="orders$ | async as orders;else loading6">
                                        <div class="d-flex justify-content-between" *ngFor="let item of orders"
                                            style="padding-bottom: 5px;">
                                            <div class="d-flex align-items-center gap-3">
                                                <div><img src='{{"/assets/img/"+item.platform+".svg"}}' alt="#"
                                                        class="img-fluid rounded-circle ch-50 border shadow-sm"></div>
                                                <div>
                                                    <h4 class="fw-bold text-dark mb-1 h1">Bid placed by <span
                                                            class="text-muted fw-normal small">{{item.maker.split(':')[1].trim().substring(0,
                                                            6)}} .. {{item.maker.split(':')[1].trim().substring(38,
                                                            42)}}</span></h4>
                                                    <div class="text-muted fw-bold">{{item.createdAt}}</div>
                                                </div>
                                            </div>
                                            <div>
                                                <h6 class="mb-1">$ {{float2int(item.makePriceUsd)}}</h6>
                                                <div class="text-muted small">{{item.makePrice}}&nbsp;&nbsp;<img
                                                        alt="MATIC on Polygon"
                                                        src="{{'../../../assets/img/'+network+'-1.svg'}}" width="17PX"
                                                        style="MARGIN-BOTTOM: 3PX;"></div>
                                            </div>
                                            <td style="padding-top: 5px"><button (click)="buy(item.id)" type="button"
                                                    class="btn btn-primary btn-sm">Buy</button></td>
                                        </div>

                                    </div>
                                    <ng-template #loading6>
                                        <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="artwork">
                                    <div class=" p-2">
                                        <table class="table table-borderless">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" id="demo">From</th>
                                                    <th scope="col">To</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">When</th>
                                                    <th scope="col">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--  
                                                  <tr *ngFor="let activity of activitys" >
                                                    <th scope="row">{{activity.from.toString().substring(0, 4)}} ... {{activity.from.toString().substring(39, 42)}}</th>
                                                    <td>{{activity.to.toString().substring(0, 4)}} ... {{activity.to.toString().substring(39, 42)}}</td>
                                                    <td>{{activity.event}}</td>
                                                    <td>{{activity.date}}</td>
                                                    <td>{{activity.price}}&nbsp;&nbsp;<img *ngIf="hasOrder" alt="MATIC on Polygon" src="https://openseauserdata.com/files/23830242e4f33a4bc50a60c83f550c29.svg" width="15PX" style="MARGIN-BOTTOM: 3PX;"></td>
                                                  </tr>-->
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3">
                        <h6 class="fw-bold mb-3 text-uppercase fs-6">Edition 1 of 1</h6>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="overflow-hidden bg-white border-radius-five shadow-sm mb-2">
                                    <div class="p-3 border-bottom">
                                        <p class="m-0 text-uppercase text-muted">Creator</p>
                                    </div>
                                    <div class="p-3">
                                        <a class="text-decoration-none link-dark">
                                            <div class="d-flex align-items-center gap-3">
                                                <div><img src="assets/img/photo2.png" alt="#"
                                                        class="img-fluid rounded-circle ch-50 border shadow-sm p-1">
                                                </div>
                                                <div *ngIf="item$ | async as item;else loading2">

                                                    <h5 class="fw-bold m-0">
                                                        {{item.creators[0].account.split(':')[1].trim().toString().substring(0,
                                                        10)}} ... {{item.creators[0].account.toString().substring(32,
                                                        42)}}</h5>
                                                </div>
                                                <ng-template #loading2>
                                                    <ngx-skeleton-loader count="1"
                                                        appearance="line"></ngx-skeleton-loader>
                                                </ng-template>
                                                <i class="bi bi-chevron-right ms-auto"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="overflow-hidden bg-white border-radius-five shadow-sm mb-2">
                                    <div class="p-3 border-bottom">
                                        <p class="m-0 text-uppercase text-muted">From :</p>
                                    </div>
                                    <div class="p-3">
                                        <a *ngIf="collection$ | async as item;else loading3"
                                            class="text-decoration-none link-dark" target="_blank"
                                            href="{{'https://rarible.com/collection/'+collection+'/items'}}">
                                            <div class="d-flex align-items-center gap-3">
                                                <div><img
                                                        src="{{item.meta.content.length > 0?item.meta.content[0].url:'https://assets.raribleuserdata.com/prod/v1/image/t_avatar_big/aHR0cHM6Ly9pcGZzLmlvL2lwZnMvYmFmeWJlaWIycHlxdjZlcGoycWdobmw1a3dlcGdjZ29lc2x6dTd0dmNzaXhxbm9iNWQ3cWZobjY0M3k='}}"
                                                        alt="#"
                                                        class="img-fluid rounded-circle ch-50 border shadow-sm p-1">
                                                </div>
                                                <div>
                                                    <h4 class="fw-bold m-0">{{item.name}}</h4>
                                                </div>
                                                <i class="bi bi-chevron-right ms-auto"></i>
                                            </div>
                                        </a>
                                        <ng-template #loading3>
                                            <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>