<section class="pt-5 bg-primary">
  <div class="container py-4 px-5 text-center">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8">
        <div class="h1 text-white display-5 mb-2 fw-bold">Omnispaces store</div>
        <p class="lead text-white-50 m-0">
          Buy items to use in virtual spaces.</p>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-light">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#f0f2f5">
      <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
  </div>
</section>
<script>
  crate.hide()
</script>

<section class="py-5">

  <div class="container py-4">

    <div class="row">
      <div class="col-lg-3 d-none d-sm-block">
        <div class="sidebar-fix">
          <div class="p-4 rounded shadow-osahan bg-white ">
            <H3 class="form-label fw-bold "><i class="bi bi-funnel"></i> Filter</H3>

            <div class="mb-3">
              <label class="form-label">Price</label>
              <div class="row g-1">
                <div class="col-md-4" style="width:37.333333%;">
                  <select id="inputState" class="form-select">
                    <option selected>MATIC</option>
                  </select>
                </div>
                <div class="col-sm">
                  <input type="number" class="form-control" #min placeholder="Min" aria-label="Min">
                </div>

                <div class="col-sm">
                  <input type="number" class="form-control" #max placeholder="Max" aria-label="Max">
                </div>
              </div>
              <div class="d-grid mt-3">
                <button type="button" (click)="FilterPrice(min.value,max.value)"
                  class="btn btn-secondary rounded-lg"><span><i class="bi bi-arrow-clockwise"></i></span>&nbsp;
                  Apply</button>
              </div>
              <div *ngIf="rangeError" class="alert alert-danger mt-1 error" role="alert">
                The minimum price is bigger than the maximum price
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Items type {{': '+selectCat.value}}</label>
              <select (change)="filterByType(selectCat.value=='All'?null:selectCat.value)" (click)="selectCat"
                class="form-select rounded-lg" #selectCat aria-label="Default select example">
                <option selected value="All">All</option>
                <option value="wearable">Wearabels</option>
                <option value="emote">Emotes</option>
                <option value="Template">Templates</option>

              </select>
            </div>

            <div class="mb-3" *ngIf="selectCat.value=='wearable'">
              <label class="form-label">Category</label>
              <select class="form-select rounded-lg" (change)="filterByCategory(sort.value=='null'?null:sort.value)"
                #sort aria-label="Default select example">
                <option selected value="null">All</option>
                <option value="upper_body">Upper body</option>
                <option value="top_head">Top head</option>
                <option value="lower_body">Lower body</option>
                <option value="mask">Mask</option>
                <option value="mouth">Mouth</option>
                <option value="earring">Earring</option>
                <option value="helmet">Helmet</option>
                <option value="hat">Hat</option>
                <option value="feet">Feet</option>
                <option value="facial_hair">Facial hair</option>
                <option value="skin">Skin</option>
                <option value="tiara">Tiara</option>
                <option value="eyewear">Eyewear</option>
                <option value="eyes">Eyes</option>
              </select>
            </div>
            <div class="mb-3" *ngIf="selectCat.value=='emote'">
              <label class="form-label">Type</label>
              <select class="form-select rounded-lg" (change)="filterByCategory(sort.value=='null'?null:sort.value)"
                #sort aria-label="Default select example">
                <option selected value="all">All</option>
                <option value="dance">Dance</option>
                <option value="poses">Poses</option>
                <option value="fun">Fun</option>
                <option value="greetings">Greetings</option>
                <option value="horror">Horror</option>
                <option value="miscellaneous">Miscellaneous</option>
                <option value="stunt">Stunt</option>
                <option value="reactions">Reactions</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-12">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col" *ngFor="let nft of page.data | async"
            [routerLink]="[nft.item.type=='Template'?'/assets':'/asset', nft.item.contractAddress, nft.item.tokenId]">
            <div class="card osahan-item-list p-3 rounded h-100 shadow-osahan bg-white border-0">
              <div class="card-header border-0 bg-white p-0 mb-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2 align-items-center">
                    <div><img src="{{nft.owner.profile_image}}" alt="assets/img/photo1.png"
                        class="img-fluid rounded-circle"></div>
                    <div class="small fw-bold">{{nft.owner.username}}</div>
                  </div>
                  <div class="like-btn"><a class="text-decoration-none link-dark"><i class="bi bi-heart-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="image-wrapper">
                <img src="{{nft.item.image.replace('ipfs://','https://ipfs.io/ipfs/')}}" class="imge card-img-top rounded-lg" alt="...">
              </div>
              <div class="card-body fw-bold px-0 pb-0">
                <h5 class="card-title mb-1">{{nft.item.title}} &nbsp;<span class="text-muted fw-normal small">1/1
                  </span></h5>
                <div class="card-text mb-1"><small class="text-muted">Price (Matic)</small></div>
                <div class="text-danger">{{nft.item.price}} &nbsp;&nbsp;<img alt="MATIC on Polygon"
                    src="https://openseauserdata.com/files/23830242e4f33a4bc50a60c83f550c29.svg" width="17PX"
                    style="MARGIN-BOTTOM: 3PX;"></div>
              </div>
              <a class="stretched-link"></a>
            </div>
          </div>
          <div class="col" *ngFor="let item of [1,1,1]">
            <ngx-skeleton-loader count="1" appearance="circle" animation="progress" [theme]="{ 
              'border-radius': '15px',
              height: '405px',
              'background-color': '#dee3ec',
              width:'100%'
            }" *ngIf="page.loading | async"> </ngx-skeleton-loader>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center mt-5">
              <a *ngIf="!this.page._done.value" (click)="LoadMore()" disabled
                class="btn btn-outline-primary btn-lg">explore more</a>
            </div>
            <p style="margin-top: '5px';" class="fs-5 text-blac-50 Lato d-flex justify-content-center"
              *ngIf="page.done | async">I ran out of nfts!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>