/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.image-wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  font-size: 0;
  border-radius: 9px !important;
}

.image-wrapper img {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}
.card:hover .imge {
  transform: scale(1.2);
}

.error{
  padding: 5px;
    text-align: center;
    font-size: 9px;
    text-shadow: 0px 0px 0px black;
}