.bootstrap-select ul.dropdown-menu li:first-child {
    display: none;
}
.image-wrapper {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    font-size: 0;
    border-radius: 9px !important;
  }
  
  .image-wrapper img {
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  .card:hover .imge {
    transform: scale(1.2);
  }
  
  .limit{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
  }
  
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}
.breadcrumbs {
  padding: 15px 0;
  background: #d8e0e4;
  min-height: 40px;
  margin-top: 1px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #37517e;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}
.select{
  padding-right: 15px;
}