
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a routerLink="/decl/home">Store</a></li>
      <li>{{this.browse || this.network != undefined?"Browse":"Decentraland Collection : "+this.collection.substr(0,7)+" ... "+this.collection.substr(36,41)}}</li>
    </ol>
    <h2>{{this.browse || this.network != undefined?"Browse":"Collection address : "+this.collection.substr(0,7)+" ... "+this.collection.substr(36,41)}}</h2>
  </div>
</section><!-- End Breadcrumbs -->
<section>
  
    <div class="container my-3">
      <div >
        <div class="container my-3" *ngIf="this.network == undefined" >
          <p-splitButton class="select" label="Category" [model]="this.category" styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2"></p-splitButton>
        <p-splitButton class="select" label="Sex" [model]="this.sex" styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2"></p-splitButton>
        <p-splitButton class="select" label="Rarity" [model]="this.rarity" styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2"></p-splitButton>
        <button *ngIf="clear" style="margin-right: 8%;" (click)="Browse(true)" pButton pRipple type="button" label="CLEAR FILTERS" icon="pi pi-times" styleClass="p-button-sm" class="p-button-danger p-button-text position-absolute end-0"></button>                  
      </div>
        <div class="row">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col" *ngFor="let nft of items">
                  <div *ngIf="this.network == undefined" class="card osahan-item-list p-3 rounded shadow-osahan bg-white border-0" style="margin: .8rem;height: 90%!important;"  [routerLink]="['/decl/item/',nft.contractAddress,nft.itemId]">
                    <div class="image-wrapper">
                      <img src="{{nft.thumbnail}}" class="imge card-img-top rounded-lg">
                    </div>
                    <div class="card-body fw-bold px-0 pb-0">
                      <h5 class="card-title mb-1">{{nft.name}}  &nbsp;<span class="text-muted fw-normal small">
                        </span></h5>
                      <div *ngIf="nft.isOnSale" style="display:inline-block;" class="card-text mb-1"><small
                          class="text-muted">Price :</small></div>
                      <div style="display:inline-block;margin-right: 10px;" *ngIf="nft.isOnSale"
                        class="text-danger position-absolute bottom-2 end-0">{{nft.price}} &nbsp;&nbsp;<img alt="MATIC on Polygon"
                          src="../../../assets/img/mana.svg" width="17PX" style="MARGIN-BOTTOM: 3PX;"></div>
                      <div>
                        <div class="card-text mb-1" style="display:inline-block;"><span
                            class="badge bg-success text-uppercase">{{nft.rarity}}</span></div>&nbsp;
                            <div class="card-text mb-1" style="display:inline-block;"><span
                              class="badge bg-danger text-uppercase">{{nft.network}}</span></div>&nbsp;
                        <div class="card-text mb-1" style="display:inline-block;"><span
                            class="badge bg-warning text-dark text-uppercase">{{nft.data.wearable.category}}</span></div>
                      </div>
                    </div>
                    <a class="stretched-link"></a>
                  </div>

                  <div *ngIf="this.network != undefined && nft.meta"   style="height: 90%!important;"class="card osahan-item-list p-3 rounded shadow-osahan bg-white border-0" 
                  [routerLink]="['/decl/asset/',nft.blockchain,nft.id.split(':')[1].trim(),nft.tokenId]">
                  <div class="card-header border-0 bg-white p-0 mb-3" >
                  </div>
                  <div class="image-wrapper">
                    <img *ngIf="nft.meta" src="{{nft.meta.content[0].url}}" class="imge card-img-top rounded-lg" alt="...">
                  </div>
                  <div class="card-body fw-bold px-0 pb-0">
                    <h5 *ngIf="nft.meta" class="card-title mb-1">{{nft.meta.name}}  &nbsp;<span class="text-muted fw-normal small">
                      </span>
                    </h5>
                    
                    
                    <div *ngIf="nft.orders.length>0" style="display:inline-block;" class="card-text mb-1"><small class="text-muted">Price
                        :</small></div>
                    <div style="display:inline-block;margin-right: 10px;" *ngIf="nft.orders.length>0"
                      class="text-danger position-absolute bottom-2 end-0">{{nft.orders[0].makePrice}} &nbsp;&nbsp;<img  
                        alt="MATIC on Polygon" src="{{this.network=='POLYGON'?'../../../assets/img/polygon.svg':'../../../assets/img/ether.svg'}}" width="17PX" style="MARGIN-BOTTOM: 3PX;">
                        
                    </div>
                    <div>
                      <div class="card-text 1" style="display:mb-inline-block;"><span
                          class="badge bg-success text-uppercase">{{nft.blockchain}}</span></div>                        
                    </div>
                    
                  </div>
                </div>
                </div>
              </div>
              <div *ngIf="loading">
                <br>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                  <div class="col" *ngFor="let item of [1,2,3,4]">
                    <ngx-skeleton-loader count="1" appearance="circle" animation="progress" [theme]="{ 
                      'border-radius': '15px',
                      height: '310px',
                      'background-color': '#dee3ec',
                      width:'100%'
                    }"> </ngx-skeleton-loader>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="browse && more && loading==false" >
            <div class="col-12">
              <div class="d-flex justify-content-center mt-5">
                <a (click)="Browse(false,true)"
                  class="btn btn-outline-primary btn-lg">explore more</a>
              </div>
            
            </div>
          </div>
      </div>
    </div>
  </section>
  
