<section>
  <div class="container-fluid text-center">
    <div class="row  shadow-osahan">
      <div class="col-12  shadow-osahan" style="background-image: url('{{bannerImage}}'); height: 400px;
      background-position: center;
      background-repeat: round;
      background-size: cover;">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="padding-top: 10px;">
      <div class="col-12 col-lg-3">
        <div class="rounded shadow-osahan bg-white card border-0 author-sidebar">
          <div class="p-4">
            <div class="card-body text-center mb-4">
              <div><img src="{{profileImage}}" alt="#"
                  class="img-fluid rounded-circle border border-5 border-white mb-3 shadow-sm">
              </div>
              <h3 class="card-title text-dark fw-bold mb-1">{{user.username}}</h3>
              <p class="card-text text-muted">{{user.email}}</p>
            </div>
            <div *ngIf="this.part=='pills-wearables-tab'">
              <label class="form-label">Category</label>
              <select class="mb-3 form-select rounded-lg" #selectvalue aria-label="Default select example">
                <option selected value="all">All</option>
                <option value="upper_body">Upper body</option>
                <option value="top_head">Top head</option>
                <option value="lower_body">Lower body</option>
                <option value="mask">Mask</option>
                <option value="mouth">Mouth</option>
                <option value="earring">Earring</option>
                <option value="helmet">Helmet</option>
                <option value="hat">Hat</option>
                <option value="feet">Feet</option>
                <option value="facial_hair">Facial hair</option>
                <option value="skin">Skin</option>
                <option value="tiara">Tiara</option>
                <option value="eyewear">Eyewear</option>
                <option value="eyes">Eyes</option>
                <option value="dance">Dance</option>
                <option value="poses">Poses</option>
                <option value="fun">Fun</option>
                <option value="greetings">Greetings</option>
                <option value="horror">Horror</option>
                <option value="miscellaneous">Miscellaneous</option>
                <option value="stunt">Stunt</option>
                <option value="reactions">Reactions</option>
              </select>

              <div class="d-grid">
                <button (click)="Filter(selectvalue.value)" type="button" class="btn btn-secondary rounded-lg"><span><i
                      class="bi bi-funnel"></i></span>&nbsp;Reset
                  Filter</button>
              </div>
            </div>
            <div class="d-grid" *ngIf="this.part=='pills-rooms-tab'">
              <br>
              <button routerLink="/templates" type="button" class="btn btn-success rounded-lg"><span><i
                    class="bi bi-plus"></i></span>&nbsp;
                Create space</button>
            </div>
            <div class="d-grid" *ngIf="this.part=='pills-template-tab'">
              <br>
              <button routerLink="/templates" type="button" class="btn btn-success rounded-lg"><span><i
                    class="bi bi-plus"></i></span>&nbsp;
                Buy space</button>
            </div>
          </div>


        </div>
        <div class="input-group rounded bg-white my-3 shadow-sm overflow-hidden p-2">
          <input type="text" class="form-control bg-white border-0" value="{{OwnerAddress}}"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
          <button (click)="copyText()" matTooltip="Copy" matTooltipPosition="right" type="button"
            class="input-group-text border-0 bg-white text-primary" id="basic-addon2"><i
              class="bi bi-window-stack"></i></button>

        </div>


      </div>
      <div class="col-12 col-lg-9 ps-lg-5 py-5">
        <ul class="nav auther-tabs mb-4 gap-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-wearables-tab" routerLink="/profile/pills-wearables-tab"
              data-bs-toggle="pill" data-bs-target="#pills-wearables" type="button" role="tab"
              aria-controls="pills-wearables" aria-selected="false">My NFTs&nbsp; <span
                class="text-muted">{{items.length}}</span></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-other-tab" routerLink="/profile/pills-other-tab" data-bs-toggle="pill"
              data-bs-target="#pills-others" type="button" role="tab" aria-controls="pills-others"
              aria-selected="false">Items Listed&nbsp; <span class="text-muted">{{offers.length}}</span></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-rooms-tab" routerLink="/profile/pills-rooms-tab" data-bs-toggle="pill"
              data-bs-target="#pills-rooms" type="button" role="tab" aria-controls="pills-rooms"
              aria-selected="false">My spaces&nbsp;<span class="text-muted">{{myRooms.length}}</span></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-template-tab" routerLink="/profile/pills-template-tab"
              data-bs-toggle="pill" data-bs-target="#pills-template" type="button" role="tab"
              aria-controls="pills-template" aria-selected="false">My templates&nbsp;<span
                class="text-muted">{{myTemplates.length}}</span></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-editprofile-tab" routerLink="/profile/pills-editprofile-tab"
              data-bs-toggle="pill" data-bs-target="#pills-editprofile" type="button" role="tab"
              aria-controls="pills-editprofile" aria-selected="false">Edit Profile</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <!--  
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              <div class="col" *ngFor="let nft of filter">
                <div class="card osahan-item-list p-3 rounded h-100 shadow-osahan bg-white border-0"
                  [routerLink]="['/asset',nft.contract.address, nft.tokenId]">
                  <div class="card-header border-0 bg-white p-0 mb-3">
                  </div>
                  <img src="{{nft.rawMetadata?.image?.replace('ipfs://','https://ipfs.io/ipfs/')}}"
                    class="card-img-top rounded-lg" alt="...">
                  <div class="card-body fw-bold px-0 pb-0">
                    <h5 class="card-title mb-1">{{nft.title}}&nbsp;<span class="text-muted fw-normal small">Standard
                        :{{nft.tokenType}}</span>
                    </h5>
                    <div class="card-text mb-1"><small class="text-muted">{{nft.description}}</small>
                    </div>
                  </div>
                  <a class="stretched-link"></a>
                </div>
              </div>
            </div>
          </div>-->
          <div class="tab-pane fade" id="pills-wearables" role="tabpanel" aria-labelledby="pills-wearables-tab">
            <!--  -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              <div class="col" *ngFor="let nft of filter">
                <div class="card osahan-item-list p-3 rounded h-100 shadow-osahan bg-white border-0"
                  [routerLink]="['/asset',nft.contract.address, nft.tokenId]">
                  <div class="card-header border-0 bg-white p-0 mb-3">
                  </div>
                  <img src="{{nft.rawMetadata?.image?.replace('ipfs://','https://ipfs.io/ipfs/')}}"
                    class="card-img-top rounded-lg" alt="...">
                  <div class="card-body fw-bold px-0 pb-0">
                    <h5 class="card-title mb-1">{{nft.title}}&nbsp;<span class="text-muted fw-normal small">Standard
                        :{{nft.tokenType}}</span>
                    </h5>
                    <div class="card-text mb-1"><small class="text-muted">{{nft.description}}</small>
                    </div>
                  </div>
                  <a class="stretched-link"></a>
                </div>
              </div>
              <div class="col" *ngFor="let item of [1,2,3]">
                <ngx-skeleton-loader count="1" appearance="circle" animation="progress" [theme]="{ 
                  'border-radius': '15px',
                  height: '340px',
                  'background-color': '#dee3ec',
                  width:'100%'
                }" *ngIf="skeletonloaderDCW"> </ngx-skeleton-loader>
              </div>
              
             
            </div>
            <!--  
            <div class="row">
              <div class="col-12">
                <div class="d-flex justify-content-center mt-5">
                  <a (click)="loadMore()" disabled class="btn btn-outline-primary btn-lg">explore more</a>
                </div>
              </div>
            </div>-->
          </div>

          <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
            <!--  -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              <div class="col" *ngFor="let offer of offers">
                <div class="card osahan-item-list p-3 rounded h-100 shadow-osahan bg-white border-0"
                  [routerLink]="[offer.Category=='Template'?'/assets':'/asset',offer.contractAddress, offer.tokenId]">
                  <div class="card-header border-0 bg-white p-0 mb-3">
                  </div>
                  <img src="{{offer.image?.replace('ipfs://','https://ipfs.io/ipfs/')}}" class="card-img-top rounded-lg"
                    alt="...">
                  <div class="card-body fw-bold px-0 pb-0">
                    <h5 class="card-title mb-1">{{offer.title}}&nbsp;<span class="text-muted fw-normal small">Amount
                        :{{offer.amounttosall}}</span>
                    </h5>
                    <div class="card-text mb-1"><small class="text-muted">Price :{{offer.price}}</small>
                    </div>
                  </div>
                  <a class="stretched-link"></a>
                </div>
              </div>
              <div class="col" *ngFor="let item of [1,2,3]">
                <ngx-skeleton-loader count="1" appearance="circle" animation="progress" [theme]="{ 
                  'border-radius': '15px',
                  height: '340px',
                  'background-color': '#dee3ec',
                  width:'100%'
                }" *ngIf="skeletonloaderO"> </ngx-skeleton-loader>
              </div>
            </div>
            <!--  -->
          </div>
          <div class="tab-pane fade mt-5" id="pills-template" role="tabpanel" aria-labelledby="pills-template-tab">
            <!--  -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              <div class="col" *ngFor="let nft of myTemplates">
                <div class="card osahan-item-list p-3 rounded h-100 shadow-osahan bg-white border-0"
                  [routerLink]="['/assets',nft.contract.address, nft.tokenId]">
                  <div class="card-header border-0 bg-white p-0 mb-3">
                  </div>
                  <img src="{{nft.rawMetadata?.image?.replace('ipfs://','https://ipfs.io/ipfs/')}}"
                    class="card-img-top rounded-lg" alt="...">
                  <div class="card-body fw-bold px-0 pb-0">
                    <h5 class="card-title mb-1">{{nft.title}}&nbsp;<span class="text-muted fw-normal small">Standard
                        :{{nft.tokenType}}</span>
                    </h5>
                    <div class="card-text mb-1"><small class="text-muted">{{nft.description}}</small>
                    </div>
                  </div>
                  <a class="stretched-link"></a>
                </div>
              </div>
              <div class="col" *ngFor="let item of [1,2,3]">
                <ngx-skeleton-loader count="1" appearance="circle" animation="progress" [theme]="{ 
                  'border-radius': '15px',
                  height: '340px',
                  'background-color': '#dee3ec',
                  width:'100%'
                }" *ngIf="skeletonloader"> </ngx-skeleton-loader>
              </div>
            </div>
            <!--  -->
          </div>
          <div class="tab-pane fade" id="pills-rooms" role="tabpanel" aria-labelledby="pills-rooms-tab">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              <div class="col" *ngFor="let space of myRooms">
                <div class=" rounded shadow-osahan  bg-white card border-0 authors-card-list">
                  <div class="card-footer border-0 bg-transparent position-absolute top-0 end-0">
                    <div style="margin-top: 5px;">
                      <!-- Call to action buttons -->
                      <ul class="list-inline m-0">
                        <li class="list-inline-item">
                          <button *ngIf="space.id && space.chatId" (click)="deleteRoom(space.id,space.chatId,space.eventsId)"
                            class="btn btn-danger btn-sm" type="button" data-toggle="tooltip" data-placement="top"
                            title="Add"><i class="bi bi-trash3-fill"></i></button>
                        </li>
                        <li class="list-inline-item">
                          <button routerLink="/space/editmode/{{space.seneName}}/{{space.id}}"
                            class="btn btn-success btn-sm" type="button" data-toggle="tooltip" data-placement="top"
                            title="Edit"><i class="bi bi-pen "></i></button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a routerLink="/space/{{space.seneName}}/{{space.id}}" class="aa">
                    <img src="{{space.image}}" alt="#" class="card-img-top rounded-lg">
                    <div class="card-footer border-0 bg-transparent border-top p-3">
                      <div class="d-flex align-items-center justify-content-between">
                        <div>
                          <h3 class="fw-bold mb-0">{{space.roomName}} </h3>
                        </div>
                      </div>
                      <div>
                        <h5 class="fw-bold mb-0">Template : {{space.TempName}} </h5>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col" *ngFor="let item of [1,2,3]">
                <ngx-skeleton-loader count="1" appearance="circle" animation="progress" [theme]="{ 
                  'border-radius': '15px',
                  height: '340px',
                  'background-color': '#dee3ec',
                  width:'100%'
                }" *ngIf="skeletonloaderS"> </ngx-skeleton-loader>
              </div>
            </div>
            <div *ngIf="myRooms.length == 0">
              <div class="container py-4">
                <div class="row justify-content-center">
                  <div class="col-xl-6 col-lg-7 col-md-8 col-12">
                    <div class="text-center py-4">

                      <div class="d-flex  mt-5">
                        <a routerLink="/templates" class="btn btn-outline-success btn-lg">Add space</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Update  -->
          </div>
          <div class="tab-pane fade" id="pills-editprofile" role="tabpanel" aria-labelledby="pills-editprofile-tab">
            <div class="rounded shadow-osahan bg-white">
              <div class="p-4 border-bottom fw-bold h5 m-0 text-uppercase">Edit profile </div>
              <div class="p-4">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="upload__file border text-center rounded px-3 py-4"
                      style="background-image: url({{user.profile_image}});">
                      <div class="small text-muted mb-3">(256x256) PNG, GIF, WEBP or JPG. Max 5 MB.</div>
                      <div><a class="btn btn-danger rounded-lg px-3"><span><i
                              class="bi bi-cloud-upload"></i></span>&nbsp;Upload avatar <input class="upload__input"
                            type="file" (change)="uploadImage($event.target)" /></a></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="upload__file border text-center rounded px-3 py-4"
                      style="background-image: url({{user.banner_image}});">
                      <div class="small text-muted mb-3">(1400x250) PNG, GIF, WEBP or JPG. Max 5 MB.</div>
                      <div><a class="btn btn-danger rounded-lg px-3"><span><i
                              class="bi bi-cloud-upload"></i></span>&nbsp;Upload cover <input class="upload__input"
                            type="file" (change)="uploadImage2($event.target)" /></a></div>
                    </div>
                  </div>
                </div>
                <div class="my-3">
                  <form>
                    <input class="form-control" type="text" #username placeholder="Username" value="{{user.username}}"
                      aria-label="default input example">
                    <div class="row my-3">
                      <div class="col">
                        <input disabled type="text" class="form-control" placeholder="First name"
                          aria-label="First name">
                      </div>
                      <div class="col">
                        <input disabled type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                      </div>
                    </div>
                    <div>
                      <input type="email" #email class="form-control" value="{{user.email}}">
                    </div>
                    <div class="my-3">
                      <input class="form-control" type="text" disabled placeholder="{{OwnerAddress}}"
                        aria-label="default input example">
                    </div>
                    <div class="d-grid">
                      <a (click)="update(username.value,email.value)"
                        class="btn btn-danger rounded-lg fw-bold py-3">Save changes</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>